[2019-10-07 09:16] albbas commented on #289
## Comment 13723
Date: 2019-10-07 11:16:17 +0200
From: Thomas Omma &lt;<thomas.omma>&gt;

i dont remember a thing of this

[2019-10-09 09:51] albbas opened #593 "Recognise smileys in grammarchecker (Bugzilla Bug 2612)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2612
Date: 2019-10-09T11:51:42+02:00
From: @albbas (Originally created by @albbas)
To:   @snomos
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2019-10-31T12:43:17+01:00

[2019-10-09 09:51] albbas commented on #593
## Comment 13731
Date: 2019-10-09 11:51:42 +0200
From: @albbas

Now we get space errors when sending smileys through the grammarchecker

$ echo ":)"|divvun-checker -l se|jq .
{
  "errs": [
    [
      ")",
      1,
      2,
      "no-space-after-parent-end",
      "Ii leat gaska ovdal dehe maŋŋil ruođu \")\"",
      [],
      "Gaska váilu"
    ]
  ],
  "text": ":)"
}

$ echo ":-)"|divvun-checker -

[2019-10-10 12:04] albbas opened #594 "Recognise obfuscated e-mail addresses (Bugzilla Bug 2618)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2618
Date: 2019-10-10T14:04:20+02:00
From: @albbas (Originally created by @albbas)
To:   @snomos
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2019-10-22T12:30:14+02:00

[2019-10-10 19:40] albbas commented on #594
## Comment 13743
Date: 2019-10-10 21:40:11 +0200
From: @albbas

(In reply to Sjur Nørstebø Moshagen from comment #2)

Har ikke sett annet enn det første mønsteret i korpuset vårt så langt.

[2019-10-11 09:18] albbas opened #456 "Identify (and correct) errors in URL case endings (Bugzilla Bug 2619)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2619
Date: 2019-10-11T11:18:30+02:00
From: Børre Gaup &lt;<borre.gaup>&gt;
To:   Thomas Omma &lt;<thomas.omma>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Depends on:   #2420
Last updated: 2020-04-17T19:22:15+02:00

[2019-10-11 09:25] albbas opened #595 "Recognise urls with ip-adresses (Bugzilla Bug 2620)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2620
Date: 2019-10-11T11:25:13+02:00
From: @albbas (Originally created by @albbas)
To:   @snomos
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2019-10-11T14:34:48+02:00

[2019-10-11 09:25] albbas commented on #595
## Comment 13746
Date: 2019-10-11 11:25:13 +0200
From: @albbas

Example: http://158.39.55.230/sso/sa/Gdg_birra.htm

[2019-10-11 12:34] #595 closed

[2019-10-15 14:52] albbas opened #596 "vuoððuduvvui not recognised as an error (Bugzilla Bug 2621)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2621
Date: 2019-10-15T16:52:08+02:00
From: @albbas (Originally created by @albbas)
To:   @snomos
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2019-10-25T09:09:44+02:00

[2019-10-15 14:52] albbas commented on #596
## Comment 13751
Date: 2019-10-15 16:52:08 +0200
From: @albbas

$ echo 'Instituhtta vuoððuduvvui jagis 1973:s.'|divvun-checker -l se|jq .
{
  "errs": [],
  "text": "Instituhtta vuoððuduvvui jagis 1973:s."
}

$ echo vuoððuduvvui | voikkospell -d se -s
W: vuoððuduvvui
S: vuođđuduvvui
S: vuođđuduvai
S: vuolluduvvui
S: vuoššuduvvui
S: vuohčuduvvui

[2019-10-16 12:32] albbas opened #383 "intreassaorganisašuvnnat is marked as an error in goldstandard, but is valid in norm fst anyway ("
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2622
Date: 2019-10-16T14:32:43+02:00
From: Børre Gaup &lt;<borre.gaup>&gt;
To:   Thomas Omma &lt;<thomas.omma>&gt;
CC:   lene.antonsen, linda.wiechetek, sjur.n.moshagen, trond.trosterud

Last updated: 2019-10-16T18:32:31+02:00

[2019-10-16 12:32] albbas commented on #383
## Comment 13755
Date: 2019-10-16 14:32:43 +0200
From: Børre Gaup &lt;<borre.gaup>&gt;

intreassaorganisašuvnnat has been corrected to
intereassaorganisašuvnnat

$ husmeNorm
intreassaorganisašuvnnat
intreassaorganisašuvnnat        intereassaorganisašuvdna+N+Pl+Nom       0,000000
intreassaorganisašuvnnat        intereassaorganisašuvdna+N+Sg+Acc+PxSg2 0,000000
intreassaorganisašuvnnat        interea

[2019-10-16 12:42] albbas opened #597 "Clitics are not correctly handled (Bugzilla Bug 2623)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2623
Date: 2019-10-16T14:42:44+02:00
From: @albbas (Originally created by @albbas)
To:   @snomos
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-04-17T17:24:00+02:00

[2019-10-16 16:32] albbas commented on #383
## Comment 13758
Date: 2019-10-16 18:32:31 +0200
From: Thomas Omma &lt;<thomas.omma>&gt;

boundcorpus $ svn ci -m "not correcting word anymore, bug2622" orig/sme/facta/other_files/satnejodiheaddji_buresboahtin.correct.txt
Sending        orig/sme/facta/other_files/satnejodiheaddji_buresboahtin.correct.txt
Transmitting file data .done
Committing transaction...
Committed revision 5192.

[2019-10-16 16:32] #383 closed

[2019-10-17 22:52] albbas opened #598 "Plain " is not flagged as error (Bugzilla Bug 2624)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2624
Date: 2019-10-18T00:52:08+02:00
From: @albbas (Originally created by @albbas)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2019-10-30T14:31:54+01:00

[2019-10-17 22:52] albbas commented on #598
## Comment 13762
Date: 2019-10-18 00:52:08 +0200
From: @albbas

$ echo '"Mearrit"'|divvun-checker -l se|jq .
{
  "errs": [],
  "text": "\"Mearrit\""
}

$ echo '«Mearrit»'|divvun-checker -l se|jq .
{
  "errs": [
    [
      "«Mearrit»",
      0,
      9,
      "punct-aistton-both",
      "Boasttuaisttonmearkkat",
      [
        "”Mearrit”"
      ],
      "Aisttonmearkkat"
    ]
  ],
  "text": "«Me

[2019-10-17 23:14] albbas commented on #598
## Comment 13763
Date: 2019-10-18 01:14:28 +0200
From: @albbas

report.goldstandard.txt has 69 of these undetected errors:
$ fgrep \'error\':\ \'\"\' ../../langs/sme/devtools/report.goldstandard.txt |wc -l
69

[2019-10-22 10:30] #594 closed, assigned to snomos

[2019-10-23 08:20] albbas opened #455 "Viidu+dat (Bugzilla Bug 2626)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2626
Date: 2019-10-23T10:20:10+02:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   lene.antonsen, linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-04-17T16:58:26+02:00

[2019-10-25 06:50] albbas commented on #556
## Comment 13770
Date: 2019-10-25 08:50:15 +0200
From: @unhammer

Går det an å skriva

PROTECT (*) - (<taggen>)

for å tagga alt utanom det som har <taggen>?

[2019-10-25 07:08] albbas commented on #556
## Comment 13771
Date: 2019-10-25 09:08:05 +0200
From: @unhammer

(In reply to Linda Wiechetek from comment #0)

Er valensar nye readings eller nye taggar?

ADD (<tag>) …

vil jo ikkje legga til <tag> viss <tag> alt finst.

[2019-10-25 07:09] albbas commented on #596
## Comment 13772
Date: 2019-10-25 09:09:44 +0200
From: @snomos

Fixed by enhancing the alphabet for unknown words in the tokeniser.

[2019-10-25 07:09] #596 closed

[2019-10-25 07:10] albbas commented on #556
## Comment 13773
Date: 2019-10-25 09:10:18 +0200
From: @unhammer

(In reply to Kevin Brubeck Unhammer from comment #4)

Nevermind, eg ser valency.cg3 bruker SUBSTITUTE …

Men korfor bruker valency.cg3 SUBSTITUTE i staden for ADD? Burde det ikkje gå an å bruka

  ADD (<TH-Com-Any>) TARGET TH-COM-A (NEGATE 0 Attr LINK NOT 0 PRED-ATTR-ADJ);

i staden for

  SUBSTITUTE (A) (A <TH-Com-Any>) TARGET TH-C

[2019-10-25 07:11] albbas commented on #556
## Comment 13774
Date: 2019-10-25 09:11:51 +0200
From: @snomos

(In reply to Kevin Brubeck Unhammer from comment #3)

Tanken var å tagga alt og berre det som har (<taggen>), dvs ekskludera alt som ikkje har <speller> i seg i dette tilfellet.

På den måten kan vi leggja til valensinfo på forslaga frå stavekontrollen, og berre dei. Det var i alle fall tanken :)

[2019-10-25 08:13] albbas commented on #556
## Comment 13775
Date: 2019-10-25 10:13:06 +0200
From: @unhammer

(In reply to Sjur Nørstebø Moshagen from comment #6)

eh eg meinte «beskytta alt utanom det som har <taggen>», skreiv litt raskt der. Altså,

SET ikkje-speller = (*) - (<speller>);
PROTECT ikkje-speller;
ADD (<nytagg>) (*);

gir

"<a>"
	"a" <speller> <nytagg> ADD:4
"<b>"
	"b" notspelled PROTECT:3

på input

"<a>"
	"a" <speller>
"<b>

[2019-10-30 10:17] albbas commented on #556
## Comment 13785
Date: 2019-10-30 11:17:56 +0100
From: @lynnda-hill

Ka du meiner med nye lesinger vs. nye tagger, Kevin?
Æ har prøvd å finne ut om ADD og SUBSTITUTE no, og er enda ikkje heilt sikker på alle implikasjoner av ADD. I utgangspunktet brukte æ SUBSTITUTE sia æ ikkje ville disambiguere valenstaggan. Dem skulle bare være der for å disambiguere alt anna (sekundærtagger i Eckhard sin termi

[2019-10-30 10:38] albbas commented on #556
## Comment 13786
Date: 2019-10-30 11:38:09 +0100
From: @unhammer

(In reply to Linda Wiechetek from comment #8)

Eg såg rett etterpå at dei er nye taggar (altså, du har ikkje éin reading per valenstagg)

Ja, eg veit ikkje om alle implikasjonane av å gå over til ADD, men eg trudde iallfall at formålet med ADD var nettopp det du vil ha: å legga til nye taggar på ei lesing, med mindre den taggen er d

[2019-10-30 10:55] albbas commented on #556
## Comment 13787
Date: 2019-10-30 11:55:52 +0100
From: @lynnda-hill

Ja, det var nettopp det æ prøvde, altså om det var nødvendig med prefix (@, %, &) eller ka det måtte være, men det funka fint uten.

(In reply to Kevin Brubeck Unhammer from comment #9)

[2019-10-30 13:31] #598 closed

[2019-10-31 10:11] albbas opened #322 "ikkje konsekvent i merking av arabiske vs. romerske tall ("
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2632
Date: 2019-10-31T11:11:46+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Thomas Omma &lt;<thomas.omma>&gt;
CC:   lene.antonsen, linda.wiechetek, sjur.n.moshagen, trond.trosterud

Last updated: 2019-10-31T12:03:07+01:00

[2019-10-31 10:11] albbas commented on #322
## Comment 13794
Date: 2019-10-31 11:11:46 +0100
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;

Æ så litt på forskjellige tagger og har lagt merke til at vi ikkje er konsekvente i dette tilfellet. Arabiske tall får Arab taggen, men ikkje når dem er Ord. Men romerske tall får Rom taggen i begge tilfeller (både kardinal- og ordinal).

Er det ment sånn eller burde vi være konsekvente her?

1.
1.	1+

[2019-10-31 10:43] albbas commented on #322
## Comment 13795
Date: 2019-10-31 11:43:34 +0100
From: Lene Antonsen &lt;<lene.antonsen>&gt;

Hvilken analysator bruker du?

Jeg får slikt resultat:
husmedis
3.
3.	3+A+Arab+Ord+Attr	0,000000

^C
svhum-hsl-m0283:~ lan000$ husme
1.
1.	1+A+Arab+Ord+Attr	0,000000

[2019-10-31 11:43] albbas commented on #593
## Comment 13798
Date: 2019-10-31 12:43:17 +0100
From: @snomos

Fixed in svn rev 184723:

$ echo ":)"|divvun-checker -a tools/grammarcheckers/se.zcheck | jq .
{
  "errs": [],
  "text": ":)"
}
$ echo ":-)"|divvun-checker -a tools/grammarcheckers/se.zcheck | jq .
{
  "errs": [],
  "text": ":-)"
}
$ echo "🙂" | divvun-checker -a tools/grammarcheckers/se.zcheck | jq .
{
  "errs": [],
  "text": "🙂"
}

[2019-10-31 11:43] #593 closed

[2019-11-01 13:17] albbas opened #347 "derivations are involved compounding where they shouldn't be ("
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2633
Date: 2019-11-01T14:17:39+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Thomas Omma &lt;<thomas.omma>&gt;
CC:   lene.antonsen, linda.wiechetek, sjur.n.moshagen, trond.trosterud

Last updated: 2019-11-01T14:19:25+01:00

[2019-11-01 13:17] albbas commented on #347
## Comment 13802
Date: 2019-11-01 14:17:39 +0100
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;

Here we have an example where derivations are involved compounding where they shouldn't since only the underived version is a compound. (Have we talked about this before?)

Dát lea čielga hálddahuslaš dássi, gos prošeakta virggálaččat registrerejuvvo ja álggahuvvo.

prošeakta virggálaččat is analyzed

[2019-11-01 13:19] albbas commented on #347
## Comment 13803
Date: 2019-11-01 14:19:25 +0100
From: Thomas Omma &lt;<thomas.omma>&gt;

prošeaktavirggálaččat	prošeaktavirgi+N+Der/lasj+A+Comp+Attr	0,000000
prošeaktavirggálaččat	prošeaktavirgi+N+Der/lasj+A+Comp+Sg+Nom	0,000000
prošeaktavirggálaččat	prošeaktavirgi+N+Der/lasj+A+Der/AAdv+Adv	0,000000
prošeaktavirggálaččat	prošeaktavirgi+N+Der/lasj+A+Pl+Nom	0,000000
prošeaktavirggálaččat	prošeaktav

[2019-11-06 13:03] albbas opened #454 "something wrong in the tokenisation involving punctuation (Bugzilla Bug 2635)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2635
Date: 2019-11-06T14:03:47+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Kevin Brubeck Unhammer &lt;<unhammer+apertium>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, trond.trosterud

Last updated: 2020-04-17T16:32:59+02:00

[2019-11-06 13:14] albbas opened #453 "compounds that involve numerals/captial letters/propernouns and are somewhat productive (Bugzilla Bug 2636)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2636
Date: 2019-11-06T14:14:02+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Tommi A Pirinen &lt;<tommi.pirinen>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-09-22T16:21:55+02:00

[2019-11-07 14:11] albbas opened #599 "the analysis of a the last word in a sentence disappears for whichever reason (Bugzilla Bug 2637)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2637
Date: 2019-11-07T15:11:10+01:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @unhammer
CC:   @lynnda-hill, @snomos, @Trondtr

Last updated: 2020-04-17T16:30:26+02:00

[2019-11-12 09:41] albbas opened #425 "something wrong with flagging? ("
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2638
Date: 2019-11-12T10:41:15+01:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   thomas.omma, trond.trosterud

Last updated: 2019-11-20T18:18:24+01:00

[2019-11-12 09:41] albbas commented on #425
## Comment 13810
Date: 2019-11-12 10:41:15 +0100
From: Thomas Omma &lt;<thomas.omma>&gt;

I get spørremåltegn for many inflected verb forms, for ex PrsSg1, that is for some words, while others seem to work perfectly. This seems completely summal, for ex:

sme $ husme
reaivvan	reaivvan+?	inf
deaivvan	deaivat+V+TV+Ind+Prs+Sg1	0,000000
smoaran	smoaran+?	inf
gaccárdalan	gaccárdalan+?	inf
gaccárdallago

[2019-11-12 09:42] albbas commented on #425
## Comment 13811
Date: 2019-11-12 10:42:48 +0100
From: Thomas Omma &lt;<thomas.omma>&gt;

summal = random
njuolga = directly

[2019-11-20 17:18] albbas commented on #425
## Comment 13818
Date: 2019-11-20 18:18:24 +0100
From: Thomas Omma &lt;<thomas.omma>&gt;

aha, this is off course the cause

LEXICON 3-VerbRoot

had forgot all about it

then I just have too move mŧ "reivat" above it

~ $ cd gtsvn/langs/sme/src
src $ svn ci -m "word moved above LEXICON 3-VerbRoot"
Sending        morphology/stems/verbs.lexc
Transmitting file data .done
Committing transaction...
Com

[2019-11-20 17:18] #425 closed

[2020-01-22 13:42] albbas commented on #290
## Comment 13836
Date: 2020-01-22 14:42:54 +0100
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;

Men har vi lagt inn reglar og lexc-kode over alt? Det trur eg ikkje, så eg opnar på nytt til eg har sjekka alt.

[2020-01-27 08:54] albbas opened #452 "Orddelinga følger ikke Čállinrávvagat og grammatikker (Bugzilla Bug 2645)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2645
Date: 2020-01-27T09:54:16+01:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Thomas Omma &lt;<thomas.omma>&gt;
CC:   lene.antonsen, sjur.n.moshagen, trond.trosterud

Last updated: 2020-10-09T09:45:01+02:00

[2020-03-10 13:47] albbas opened #451 "Dynamiske ACR-sammensetninger fungerer ikke i GramDivvun (Bugzilla Bug 2648)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2648
Date: 2020-03-10T14:47:30+01:00
From: Ritva Nystad &lt;<ritva.nystad>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-06-08T11:22:03+02:00

[2020-03-10 18:21] albbas opened #600 "this is not compound (Bugzilla Bug 2649)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2649
Date: 2020-03-10T19:21:59+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-04-17T15:07:31+02:00

[2020-04-12 21:04] albbas commented on #242
## Comment 13886
Date: 2020-04-12 23:04:51 +0200
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;

*** Bug #2619 has been marked as a duplicate of this bug. ***

[2020-04-17 09:40] albbas commented on #242
## Comment 13887
Date: 2020-04-17 11:40:42 +0200
From: Thomas Omma &lt;<thomas.omma>&gt;

illativ sg norm is with one i only  :i

[2020-04-17 13:07] #600 closed, assigned to lynnda-hill

[2020-04-17 14:18] albbas commented on #290
## Comment 13895
Date: 2020-04-17 16:18:33 +0200
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;

Har du noen eksempelsetninger som æ kan teste Sjur? Du vet, som syntaktiker vil æ ha setninger :D

[2020-04-17 14:30] #599 closed, assigned to unhammer

[2020-04-17 15:24] #597 closed

[2020-04-20 08:53] #554 closed

[2020-04-20 10:00] albbas commented on #257
## Comment 13914
Date: 2020-04-20 12:00:30 +0200
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;

Det ser ut til å være fiksa for det meste:

"<birgendihtii>"
        "birgen dihte" Err/MissingSpace Adv <W:0.0> <firstCohort> &msyn-unspace-compound ADD:3830:compound ADD:3830:compound
msyn-unspace-compound
        "birgen dihte" Adv <W:0.0> <firstCohort> &SUGGEST ADD:3830:compound ADD:3830:compound

[2020-04-20 10:21] albbas commented on #257
## Comment 13915
Date: 2020-04-20 12:21:24 +0200
From: Lene Antonsen &lt;<lene.antonsen>&gt;

dihte er Err/Orth, da kan den kanskje ikke foreslås?

[2020-04-27 10:06] albbas opened #757 "Typo in sme translation (Bugzilla Bug 2661)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2661
Date: 2020-04-27T12:06:53+02:00
From: @albbas (Originally created by @albbas)
To:   @albbas
CC:   @snomos, @duomdaamaendra

Last updated: 2020-04-27T12:07:53+02:00

[2020-05-04 11:32] #273 closed, assigned to nobody

[2020-05-19 10:13] albbas opened #1 "Speller is not built"
This config:
`./configure --with-hfst --without-xfst --enable-alignment --enable-reversed-intersect --without-forrest --enable-spellers`

Leads to this error message:

make[3]: Entering directory '/home/boerre/gut/giellalt/lang-sme/tools/spellcheckers'
  HXFST    generator-speller-gt-norm.tmp.hfst
  CP       generator-speller-gt-norm.hfst
  HINVERT  analyser-speller-gt-norm.hfst
  HXFST    generat

[2020-05-20 02:29] aarppe commented on #1
When I'd be compiling spellers for crk, I have not used two of the options above, i.e. using only:

`./configure --with-hfst --without-xfst --without-forrest --enable-spellers`

... but maybe someone/Sjur knows if those two options (`--enable-alignment` and `--enable-reversed-intersect`) are needed for creating a speller that can be incorporated in the repo? Otherwise they seem unnecessary, but on

[2020-05-20 05:57] snomos commented on #1
`--enable-alignment` and `--enable-reversed-intersect` are not needed for speller creation, these are general fst optimisation flags (and should probably default to enabled in any case).

[2020-05-20 10:46] albbas opened #2 "hfst as default, xfst as alternative"
When running ./configure, xfst is the default, hfst has to be explicitely chosen. I would like it the other way around, because most of the advanced features (speller, grammarchecking), etc. relies on hfst.

[2020-05-20 11:05] albbas opened #3 "./configure --without-forrest as default"
If the java runtime has not been set up, the build fails, making an impression that there may be something wrong with the other resources.

[2020-06-29 17:18] albbas opened #4 "bajáluš seems to have the wrong continuation lexicon"
According to our [generator](http://gtweb.uit.no/cgi-bin/smi/smi.cgi?text=baj%C3%A1lu%C5%A1&pos=N&mode=minimal&action=paradigm&lang=sme&plang=sme): Sg Gen is «bajálučča»
Several users in [a post in Ártegis ságat on Facebook](https://www.facebook.com/groups/336300756303/permalink/10157544007341304/) claims it should be «bajáluša».

[2020-07-15 11:22] albbas commented on #556
## Comment 13956
Date: 2020-07-15 13:22:41 +0200
From: @lynnda-hill

(In reply to Linda Wiechetek from comment #0)

The mode I am using now is tools/grammarcheckers/modes/trace-smegramrelease-dev.mode

[2020-08-04 14:55] albbas opened #450 "tokenization of multi-word when there are several options of multi-words (Bugzilla Bug 2668)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2668
Date: 2020-08-04T16:55:36+02:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Tommi A Pirinen &lt;<tommi.pirinen>&gt;
CC:   lene.antonsen, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-08-31T09:53:59+02:00

[2020-08-11 11:37] TinoDidriksen opened #5 "tools/mt/apertium missing semsets.cg3"
[code]

Needs to copy in `semsets.cg3`, or adjust the include directive, or do the work in the src/cg3 folder.

[2020-08-17 06:38] snomos commented on #5
@Trondtr or @leneantonsen could you have a look? This bug is blocking nightly builds.

[2020-08-20 11:11] Trondtr commented on #5
I need some more context here. The semset.cg3 file seems ok, wrt. syntax. The error message in the quoted logfile is:

[2020-08-20 11:14] Trondtr commented on #5
disambiguator-mt-gt.cg3: Error: Cannot stat semsets.cg3 due to error -1 - bailing out!
make[5]: *** [Makefile:1436: disambiguator-mt-gt.bin] Error 1

... and it is not enough informative for me to be able to reproduce.

When I try to compile I get a totally different error:
     98548 Abort trap: 6           | /usr/local/bin/hfst-xfst -p -v --format=foma
make[2]: *** [analyser-gt-norm.tmp.hfst] Er

[2020-08-20 11:19] TinoDidriksen commented on #5
The build uses configure flags `--without-forrest --with-hfst --enable-tokenisers --without-xfst --enable-reversed-intersect --enable-spellers --enable-hfst-mobile-speller --enable-alignment --disable-minimised-spellers --enable-syntax --enable-analysers --enable-generators --enable-apertium --enable-grammarchecker --with-backend-format=foma --enable-dicts --enable-oahpa --enable-morpher --disable

[2020-08-20 11:38] snomos commented on #5
@Trondtr - @unhammer arbeider med saka. Jf diskusjonen her: https://giella.zulipchat.com/#narrow/stream/124552-sme/topic/cg3-stat-feil

[2020-08-20 11:55] #5 closed

[2020-08-31 08:01] albbas opened #799 "Tokenization of money expressions including commata and more (Bugzilla Bug 2671)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2671
Date: 2020-08-31T10:01:16+02:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @flammie
CC:   @leneantonsen, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2020-09-11T16:46:30+02:00

[2020-08-31 08:01] albbas commented on #799
## Comment 13964
Date: 2020-08-31 10:01:16 +0200
From: @lynnda-hill

This is the example of a money expression. We want it to be tokenized as one item. Instead it is split into three, i.e. numeral, comma and hyphen. Any ideas how to fix that?

Máksá 6.990,- ruvnno rájes juohke dánsui.

"<6.990>"
"6,990" Err/Orth §TH Num Arab Sg Acc <W:0.0> @<OBJ SELECT:16491:r2008 MAP:23683:IfNoTransV> #2->1 SUBST

[2020-08-31 10:09] albbas commented on #799
## Comment 13965
Date: 2020-08-31 12:09:01 +0200
From: @leneantonsen

Vi kan løse det i lexc, på samme måte som
6.990,00	6.990,00+Num+Arab+Sg+Nom	0,000000

dvs at vi får
6.990,-	      6.990,-+Num+Arab+Sg+Nom	0,000000

[2020-09-01 04:32] albbas commented on #799
## Comment 13968
Date: 2020-09-01 06:32:37 +0200
From: @flammie

jeg er enig å det er den best løst i lexc. Sånn nummeruttrykk kommer fra giella-shared/smi/src/fst/stems/arabic_roman_digits.lexc, det finns allerede en ,- for digits uten separator, jeg har commitert den i giella-shared nå men om det gjør problemer man kan revert:

https://github.com/giellalt/giella-shared/commit/1bc5b6c1bd46dfe3de0

[2020-09-01 11:05] albbas opened #449 "tokenization: space before second elements of compounds causes problems for grammar checking (Bugzilla Bug 2672)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2672
Date: 2020-09-01T13:05:19+02:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Kevin Brubeck Unhammer &lt;<unhammer+apertium>&gt;
CC:   lene.antonsen, sjur.n.moshagen, thomas.omma, tommi.pirinen, trond.trosterud

Last updated: 2020-09-24T14:40:48+02:00

[2020-09-01 13:23] Arnikki opened #6 "GramDivvun (Word) - improvements"
_There are a couple of things we should improve:_
1. The "List" function seems to be out of order - nothing happens when you click on it.
2. The "Settings" function is possibly mixed up with "List"? Not sure about this one. One of them isn't working.
3. Translating the introductory text to Saami. When you select North Saami, the text should be in North Saami, and likewise with the other languages

[2020-09-07 14:01] albbas commented on #4
This was resolved by [allowing both forms](https://github.com/giellalt/lang-sme/commit/9106290b88a98cbfcfc9db553efdd6e6d936794d#diff-31ba7a5199435c61bffc6011a01df131)

[2020-09-07 14:01] #4 closed

[2020-09-11 14:46] #799 closed, assigned to flammie

[2020-09-14 13:49] snomos commented on #6
It looks like there is an error loading the grammar checker plugin, as the List and Settings items do not look the way they should. I also get the same error, so it is not restricted to your machine.

I will create another issue for the translation thing.

[2020-09-14 13:50] snomos opened #7 "Make Grammar checker About text translatable."
See screen shot in https://github.com/giellalt/lang-sme/issues/6.

[2020-09-14 13:52] snomos commented on #7
Wrong place, closed. Opened this instead: https://github.com/divvun/divvun-gramcheck-web/issues/20

[2020-09-14 13:52] #7 closed

[2020-09-15 07:02] snomos commented on #6
See also https://github.com/divvun/divvun-gramcheck-web/issues/22

[2020-09-16 22:08] albbas opened #407 "uppercase T+j fungerer ikke ("
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2680
Date: 2020-09-17T00:08:34+02:00
From: Lene Antonsen &lt;<lene.antonsen>&gt;
To:   Thomas Omma &lt;<thomas.omma>&gt;
CC:   lene.antonsen, sjur.n.moshagen, sulev.iva, trond.trosterud

Duplicates:   #2679
Last updated: 2020-09-17T08:56:41+02:00

[2020-09-16 22:08] albbas commented on #407
## Comment 13994
Date: 2020-09-17 00:08:34 +0200
From: Lene Antonsen &lt;<lene.antonsen>&gt;

Jeg tviler på at dette har med twolc å gjøre, men jeg vet ikke hvor buggen skal legges

uppercase T+j fungerer ikke

både husma og husmaNorm

tjöödtjeste
tjöödtjeste	tjöödtjestidh+V+IV+Ind+Prs+Sg3	0,000000

Tjöödtjeste
Tjöödtjeste	Tjöödtjeste+?	inf

tåaskoen
tåaskoen	tåaskoeh+v1+Adv	0,000000
tåaskoen	tåas

[2020-09-17 06:56] #407 closed, assigned to nobody

[2020-09-17 16:22] albbas opened #601 "GramDivvun issues in GoogleDocs - ok words get suggestions (Bugzilla Bug 2681)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2681
Date: 2020-09-17T18:22:38+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-09T14:01:37+01:00

[2020-09-17 16:27] albbas opened #448 "GramDivvun issues in GoogleDocs2 - errational words are accepted (Bugzilla Bug 2682)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2682
Date: 2020-09-17T18:27:20+02:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Linda Wiechetek &lt;<linda.wiechetek>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-11-25T15:20:58+01:00

[2020-09-25 13:54] albbas opened #8 "Tino Didriksen speller is not removed"
The new speller installed by the 2.0.2 Divvun installer did not work because it conflicted with an older Tino Didriksen speller. When I uninstalled Didriksen-spellers manually + reinstalled Divvun Installer & co, the speller worked as it should.

Tasks:

- [x] add support for legacy product codes (to be uninstalled upon installation of new speller)
- [ ] document how to collect the UUID's
- [ ] do

[2020-09-25 13:56] bbqsrc commented on #8
I will document how to collect the UUIDs, add them to a manifest.toml and fix this bug permanently so we can do this for all the Sami languages. :smile:

[2020-09-30 11:24] albbas opened #447 "false positive compound (Bugzilla Bug 2686)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2686
Date: 2020-09-30T13:24:59+02:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Linda Wiechetek &lt;<linda.wiechetek>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2021-01-14T05:57:48+01:00

[2020-10-09 11:10] albbas opened #446 "real ambiguity for real word errors (Bugzilla Bug 2688)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2688
Date: 2020-10-09T13:10:44+02:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Linda Wiechetek &lt;<linda.wiechetek>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-10-12T17:09:14+02:00

[2020-10-12 08:43] Trondtr opened #9 "Typo suggestions missing from Grammar Checker for MS Word"
To repeat:
Take Saami text, replace all á with a, copy into Divvun Grammar Checker for MSW, and do Check.

The word "sahka" is marked as typo, but without spelling suggestion. se.zhfst gives intended correction:
echo sahka|hfst-ospell -S -n 5 tools/spellcheckers/se.zhfst
"sahka" is NOT in the lexicon:
Corrections for "sahka":
sáhka    14.239258
sahká    21.301800
lahka    29.587891

Checking for a

[2020-10-12 12:29] Trondtr opened #10 "Easter egg "nuvviDspeller" is not corrected in MS Word grc mode"
To repeat: write in nuvviDspeller and check.
You will get a "not in dictionary" note, but no correction, and hence no version number.

[2020-10-12 12:31] Trondtr opened #11 "MS Word grc does not handle large amounts of typos"
To repeat: Check a document with a small number of errors, and get corrections.
Check a document with more than say twenty errors in a row (quotation in other lg), and soon, the checker stops giving corrections.

[2020-10-16 12:33] albbas opened #602 "Err/Spellrelax (Bugzilla Bug 2691)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2691
Date: 2020-10-16T14:33:21+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-02T14:12:06+01:00

[2020-10-19 14:29] albbas opened #603 "konseptat - ii árval dasa sáni (Bugzilla Bug 2692)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2692
Date: 2020-10-19T16:29:32+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-10-20T13:21:52+02:00

[2020-10-19 14:33] albbas opened #445 "leagoson (Bugzilla Bug 2693)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2693
Date: 2020-10-19T16:33:17+02:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-10-21T09:50:41+02:00

[2020-10-20 11:21] #603 closed

[2020-10-20 17:05] albbas opened #604 "gramchk doesnt recognize "dakkárin" (Bugzilla Bug 2694)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2694
Date: 2020-10-20T19:05:57+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-10-21T13:46:16+02:00

[2020-10-20 17:05] albbas commented on #604
## Comment 14066
Date: 2020-10-20 19:05:57 +0200
From: @duomdaamaendra

Sámi kultuvra rehkenastojuvvui dakkárin mas ii gánnáhan váldit vára.

[2020-10-21 11:46] #604 closed, assigned to lynnda-hill

[2020-10-23 08:54] albbas opened #605 "Errorthed word doesnt get suggestion (Bugzilla Bug 2696)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2696
Date: 2020-10-23T10:54:23+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-09T13:18:15+01:00

[2020-10-26 14:43] albbas commented on #289
## Comment 14087
Date: 2020-10-26 15:43:58 +0100
From: Lene Antonsen &lt;<lene.antonsen>&gt;

Jeg følger opp denne. Mye er gjort, men enda gjenstår det:

i smj har vi src/fst/prefixes.lexc, src/fst/clitics.lexc
i sma har vi src/fst/clitics.lexc pluss LEXICON Prefixes i src/fst/compounding.lexc
i sme har vi src/fst/clitics.lexc pluss LEXICON Prefixes i src/fst/compounding.lexc
i smn har vi src/fst/

[2020-10-28 08:51] albbas opened #444 "gramchk wants spacein front of "no" (Bugzilla Bug 2697)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2697
Date: 2020-10-28T09:51:31+01:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Linda Wiechetek &lt;<linda.wiechetek>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-11-18T11:26:37+01:00

[2020-10-30 07:06] albbas opened #606 "gramck treats non-word as real-word-error (Bugzilla Bug 2698)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2698
Date: 2020-10-30T08:06:53+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-02T14:30:23+01:00

[2020-10-30 11:51] albbas opened #443 "gramc rules that should be outcommented are in use by goodle docs (Bugzilla Bug 2699)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2699
Date: 2020-10-30T12:51:02+01:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-11-09T13:37:45+01:00

[2020-10-30 18:09] albbas opened #607 "gramck doesnt suggest even with errorth form (Bugzilla Bug 2700)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2700
Date: 2020-10-30T19:09:43+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-02T14:11:33+01:00

[2020-10-30 18:09] albbas commented on #607
## Comment 14098
Date: 2020-10-30 19:09:43 +0100
From: @duomdaamaendra

Áiggun dás vuosttážettiin geahčadit jiehkku, sihke danin go dat lea eanemusat anus sámi duojis ja danin go lea stuoramus hástálus mekánalaš ohppiide ráhkadit dan.

"<stuoramus>"
        "stuoris" A Der/Superl A Sem/Hum Err/Orth Attr <W:0.0> @>N MAP:22111:r86 &typo #19->19 ADD:8623:Err/Orth-any
typo
        "stuoris" A Der/Supe

[2020-11-02 08:05] albbas commented on #607
## Comment 14101
Date: 2020-11-02 09:05:52 +0100
From: @duomdaamaendra

Riikkaidgaskasaš konvenšuvnnat ja Norgga lágat addet nana oaivadusaid dasa ahte buot oahppit riikkas galget oažžut oahpu sámi kultuvrra ja servodaga birra ja ahte sámiin lea vuoigatvuohta oažžut sierra oahpu, mas sámegiella, sámi kultuvra ja máhttu leat guovddaš oasit, seammás go oahppu addá sidjiide vuođu searvat stuoraservod

[2020-11-02 11:11] albbas opened #12 "Strange suggestions on Android mobile"
When I write «Čálli» the suggestion are: FálliA, BálliB, Gállii, where only the last one is a meaningful word form
For «leat» (which is a very frequent word form), the suggestion are: lea, eat, leaš. I would expect the correct word form leat to be among the suggestions.
«lean» -> lea, ean, geanH

[2020-11-02 12:35] albbas commented on #607
## Comment 14103
Date: 2020-11-02 13:35:34 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #0)

Det var rart med to "A"-tagga, den ene må bli Ex/A. Sjur sier at det mangler en Der1.

[2020-11-02 13:09] albbas commented on #602
## Comment 14104
Date: 2020-11-02 14:09:59 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #1)

Fixed it!!

[2020-11-02 13:11] albbas commented on #607
## Comment 14105
Date: 2020-11-02 14:11:33 +0100
From: @duomdaamaendra

fixed

[2020-11-02 13:11] #607 closed

[2020-11-02 13:12] #602 closed

[2020-11-02 13:30] #606 closed, assigned to lynnda-hill

[2020-11-03 12:35] albbas opened #442 "compound splitting does not work (Bugzilla Bug 2702)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2702
Date: 2020-11-03T13:35:59+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Tommi A Pirinen &lt;<tommi.pirinen>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, trond.trosterud, unhammer+apertium

Last updated: 2020-11-09T14:10:41+01:00

[2020-11-06 15:19] albbas opened #608 "dotted abbr:s that are written with no dot (Bugzilla Bug 2703)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2703
Date: 2020-11-06T16:19:46+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-10T08:40:39+01:00

[2020-11-06 15:20] albbas commented on #608
## Comment 14112
Date: 2020-11-06 16:20:14 +0100
From: @duomdaamaendra

Dát lea vejolaš dulkot máŋgalahkái, omd álgoálbmogiid várás, álgoálbmogiidda, álgoálbmogiid buorrin.

[2020-11-09 12:18] #605 closed, assigned to lynnda-hill

[2020-11-09 12:55] albbas commented on #601
## Comment 14116
Date: 2020-11-09 13:55:26 +0100
From: @duomdaamaendra

lagas = nära, close

lang-sme $ echo lagas | hfst-lookup -q src/analyser-gt-desc.hfstol
lagas	lagas+N+Sg+Nom	0,000000
lagas	lagas+A+Attr	0,000000

[2020-11-09 12:57] albbas commented on #608
## Comment 14117
Date: 2020-11-09 13:57:55 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #0)

I suggest that we put that in the Abbr lexicon as an un-doted version with an errortag

[2020-11-09 13:01] #601 closed, assigned to lynnda-hill

[2020-11-10 07:40] #608 closed, assigned to lynnda-hill

[2020-11-12 14:19] albbas opened #609 "Google docs suggest with small letter (Bugzilla Bug 2704)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2704
Date: 2020-11-12T15:19:51+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @unhammer
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-12T15:20:09+01:00

[2020-11-14 14:26] albbas opened #13 "Enable gramchecker yaml testing"
The script gramcheck-test.py is mature and fast enough to be enabled as a part of make check with [the commit that enables use of the libdivvun python bindings](https://github.com/giellalt/giella-core/commit/8122689a9311a8139f91d9281f343786cb23d43a) .

The integration should work like the other yaml-tests.

[2020-11-16 08:53] #556 closed

[2020-11-16 09:07] #572 closed, assigned to lynnda-hill

[2020-11-17 12:30] albbas opened #441 "repeated compound error suggestions (Bugzilla Bug 2705)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2705
Date: 2020-11-17T13:30:43+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Kevin Brubeck Unhammer &lt;<unhammer+apertium>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, tommi.pirinen, trond.trosterud

Last updated: 2020-11-17T13:37:49+01:00

[2020-11-18 12:05] albbas opened #610 "Err/Orth word suggestions (Bugzilla Bug 2706)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2706
Date: 2020-11-18T13:05:33+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-25T15:42:04+01:00

[2020-11-18 12:05] albbas commented on #610
## Comment 14138
Date: 2020-11-18 13:05:33 +0100
From: @duomdaamaendra

echo "Kárášjohkalaš viđa máná eadni Aud Scheie Anti lohká sudno vásihit geainnu Badjenjárgga bokte nu váralažžan, ahte eaba duostá mánáid diktit čuoččut geaidnoguoras man gohččoda heaggaváralažžan.."  | tools/grammarcheckers/modes/trace-smegramrelease-dev.mode | less

"<gohččoda>"
        "gohčodit" Err/Orth <mv> V <TH-Inf><RO

[2020-11-18 12:14] albbas opened #611 "r1081 (Bugzilla Bug 2707)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2707
Date: 2020-11-18T13:14:43+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2020-11-25T17:02:21+01:00

[2020-11-19 12:14] albbas opened #440 "gramchk doesn't understand name (Bugzilla Bug 2708)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2708
Date: 2020-11-19T13:14:56+01:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Linda Wiechetek &lt;<linda.wiechetek>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-12-30T12:02:48+01:00

[2020-11-19 20:28] albbas opened #612 "disambiguate doesn't remove Err/Orth-any (Bugzilla Bug 2709)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2709
Date: 2020-11-19T21:28:09+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @lynnda-hill
CC:   @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2021-01-26T15:11:29+01:00

[2020-11-19 20:28] albbas commented on #612
## Comment 14142
Date: 2020-11-19 21:28:09 +0100
From: @duomdaamaendra

Liikojin buoremusat bearraša mielde duoddaris, erenoamážit go lei mearkun, njuovvan ja rátkin.

"<mearkun>"
        "mearkut" Ex/V TV Der/NomAg N Sem/Hum <NomGenSg> Sg Loc South Err/Orth <W:0.0> @<ADVL SUBSTITUTE:3511 SELECT:19413:r2666 MAP:23050 &typo #10->10 SUBSTITUTE:3672 ADD:8656:Err/Orth-any
typo
        "mearkut" Ex/V D

[2020-11-23 11:43] albbas commented on #612
## Comment 14143
Date: 2020-11-23 12:43:16 +0100
From: @duomdaamaendra

Skuvlaárbevierru lea mii mearrida ja árbevierromáhttu lea neavvun.

"<neavvun>"
        "neavvut" <mv> V <TH-Acc-*Ani><BE-Ill-Ani> <BE-Ill-Ani><TH-Inf> <BE-Acc-
Ani><TH-Inf> <BE-Acc-Ani><TH-ahte> <BE-Acc-Ani><TH-Loc-Any> <BE-Acc-Ani> <BE-Acc
-Ani><TH-Ill-*Ani> <TH-ahte> TV PrfPrc Err/Orth <W:0.0> SUBSTITUTE:2507 SUBSTITU
TE:27

[2020-11-23 13:22] albbas commented on #612
## Comment 14144
Date: 2020-11-23 14:22:53 +0100
From: @duomdaamaendra

    #$ Sus lea máŋga jagi juo leamaš ovttasorru, sudnos leat guokte máná, muhto gažaldat lea, ahte leaba go soai registrerejuvvon ovttasorrun álbmotregistaris.
    #$ Sus lea máŋga jagi juo leamaš ovttasorru, sudnos leat guokte máná, muhto gažaldat lea, ahte leaba go soai registrerejuvvon ovttasorrun álbmotregistaris.

"<ovtta

[2020-11-23 17:01] albbas commented on #612
## Comment 14146
Date: 2020-11-23 18:01:35 +0100
From: @duomdaamaendra

i am working with two repositories, and it is confusing. This is certainly a fix when I when rite repository is where it should be. Until then I put sentences here:

Mushan lea goarrun láhkai čuvgesalit, vilges ja ruoná luhkka alccen, gándaguoktásan čáhppesálit luhkaid ja dieđusge seamma láđđis čiehgahpiriid, isidii gávtti ja

[2020-11-25 10:53] albbas commented on #612
## Comment 14148
Date: 2020-11-25 11:53:56 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #0)

What about the combination of South and Err/Orth? It looks a bit probblematic to me, because we should be able to generate the correct form when removing Err/Orth. But I cannot generate it from that.

[2020-11-25 12:47] albbas commented on #612
## Comment 14149
Date: 2020-11-25 13:47:55 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #3)

What's wrong with this sentence? "goarrun"?

[2020-11-25 14:42] #610 closed

[2020-11-25 15:40] albbas commented on #611
## Comment 14151
Date: 2020-11-25 16:40:55 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #0)

With SELECT rules the NEGATE 0t Err/Any condition has to be applied differently. It means "if all of the other readings are not Err/Any. But here we wanna say - do not pick Err/Any if all the other readings are anything but Err/Any
So instead of:

SELECT:r1081 (A Ord) IF (-1 Prop LINK NO

[2020-11-25 16:02] #611 closed, assigned to lynnda-hill

[2020-11-30 01:18] albbas commented on #612
## Comment 14153
Date: 2020-11-30 02:18:30 +0100
From: @duomdaamaendra

Danne lea son dál 12 jahkásažžan juo ollu jagiid lávlun lávddis.

One more with Loc South

"<lávlun>"
        "lávlu" A Sem/Hum Sg Loc South Err/Orth <W:0.0> @<ADVL SELECT:19965:r279
8 MAP:23071 &typo ADD:8674:Err/Orth-any
typo
        "lávlu" A Sem/Hum Sg Loc South <W:0.0> @<ADVL SELECT:19965:r2798 MAP:230
71 &typo &SUGGEST A

[2020-11-30 11:55] albbas commented on #612
## Comment 14154
Date: 2020-11-30 12:55:35 +0100
From: @duomdaamaendra

Dán 8 million sturrosaš giellaprošeavttas livčče 15 proseantta dagahit 1,2 million kruvnna, maid de Sámediggi sáhttá šaddat máksit jus lávdegotti mielas leš rihkkun lága.

"<million>"
        "miljovdna" Err/Orth Attr <W:0.0> @>N MAP:24762:>nAttr &typo #3->3 ADD:8674:Err/Orth-any
typo
        "miljovdna" Attr <W:0.0> @>N MAP:2

[2020-12-01 12:26] albbas opened #439 "recognition of the comma before hundreths of seconds in time expressions (Bugzilla Bug 2710)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2710
Date: 2020-12-01T13:26:50+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Tommi A Pirinen &lt;<tommi.pirinen>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, trond.trosterud

Last updated: 2020-12-01T19:53:57+01:00

[2020-12-07 09:41] albbas commented on #612
## Comment 14166
Date: 2020-12-07 10:41:53 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #8)

dies váilu "Num", gea:

miljovdna
miljovdna	miljovdna+v1+Num+Sg+Nom	0,000000

lásihatgo fstas?

[2020-12-07 09:53] albbas commented on #612
## Comment 14167
Date: 2020-12-07 10:53:45 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #11)

 nu ahte galgá Ess?

[2020-12-07 11:50] albbas commented on #612
## Comment 14168
Date: 2020-12-07 12:50:10 +0100
From: @duomdaamaendra

Ess jEss

[2020-12-11 07:47] albbas commented on #612
## Comment 14169
Date: 2020-12-11 08:47:58 +0100
From: @duomdaamaendra

  - "Sápmelaččaid eallinvuogit leat leamaš ja ain leat čadnon hui čielgasit lundui: sámit leat johtán, viežžan biepmu sihke alcceseaset ja šibihiidda luonddus, {háhkkan}¢{háhkan} boaldámušaid, huksen ja duddjonávdnasiid luonddus ja maiddái máŋgga {eará láhkái}${eará láhkai} atnán ávkin duovdagiid iežaset birrasis."

"<biepmu>"

[2020-12-11 15:51] albbas commented on #612
## Comment 14170
Date: 2020-12-11 16:51:03 +0100
From: @duomdaamaendra

Mii diehtit buohkat ahte olggobeale olbmot, geain ii leat sohka dahje eará biras Guovdageainnus, eai boađe deike eambbo oanehaš bargat, lohká Hætta ja joatká: – Danin čoavdá dát vuohki ahte fillet doaktáriid Guovdageidnui oanehis áigái bargat, váttisvuođaid dušše oanehis boddui, ja dát vuohki ii dagat váttisvuođa goassege oalá

[2020-12-11 15:54] albbas commented on #612
## Comment 14171
Date: 2020-12-11 16:54:57 +0100
From: @duomdaamaendra

Luondduguovddážis dahje Avvila bálvalanbáikkis oaččut tuvracavgilemiid, guovllu kárttat ja buot dárbbašlaš lobiid.

[338/660][FAIL fp2] : () => tuvracavgilemiid:[] (typo)

"<tuvracavgilemiid>"
        "cavgileapmi" §TH N Sem/Act Pl Acc Err/Orth <W:0.0> <cohort-with-dynamic-compound> <cohort-with-dynamic-compound> ADD:2205 ADD:

[2020-12-11 16:01] albbas commented on #612
## Comment 14172
Date: 2020-12-11 17:01:09 +0100
From: @duomdaamaendra

in ipmir manin dat oazzu fail:

Test 128/660: Sáhttá {oasttit}¢{oastit} stuorit meari go ovtta váldima hávil, muhto dalle ferte máksit olles hatti dan mearis mii manná badjel golmma mánu geavaheami.
----------
[128/660][PASS tp] oasttit:oastit (errorortreal) => oasttit:[oastit] (real-oastit)
[128/660][FAIL fp2] : () => manná:[

[2020-12-15 07:11] albbas commented on #612
## Comment 14175
Date: 2020-12-15 08:11:14 +0100
From: @duomdaamaendra

"<lahtu>"
        "láhtu" N Sem/Build Sg Nom Err/Spellrelax <W:0.0> @<SUBJ MAP:23215 &typo
 #4->4 ADD:8731:Err/Orth-any
typo
        "láhtu" N Sem/Build Sg Nom <W:0.0> @<SUBJ MAP:23215 &typo &SUGGEST #4->4 ADD:8731:Err/Orth-any COPY:8740:Err/Orth-any
láhtu+N+Sg+Nom  láhtu
        "láhtut" <mv> V TV Ind Prs Sg3 Err/Spellrelax <

[2020-12-16 13:14] albbas commented on #612
## Comment 14176
Date: 2020-12-16 14:14:01 +0100
From: @duomdaamaendra

Árrat iđit ovdalgo oktage eará lihkai finaime oahppamen sáimmaid ja doppe aitto lei stuorra hávga, ean goabbáge lean guollebivdit, muhto nagodeimme hávgga goddit ja gálgat.
----------
[497/722][FAIL fp2] : () => lihkai:[lihkái] (typo)
Test 497 - Passes: 0, Fails: 1, Total: 1

"<lihkai>"
        "lihká" N Sem/Dummytag Sg Ill Er

[2020-12-17 09:53] albbas commented on #612
## Comment 14177
Date: 2020-12-17 10:53:15 +0100
From: @duomdaamaendra

where does this Err/Lex come from
I can't find it anywhere in lexc

"<Kristianiai>"
        "Kristiania" N Prop Sem/Plc Err/Lex Sg Ill <W:0.0> @<ADVL MAP:23074 &typ
o #10->10 ADD:8831:other-errors
typo
        "Kristiania" N Prop Sem/Sur Err/Lex Sg Ill <W:0.0> @<ADVL MAP:23074 &typ
o #10->10 ADD:8831:other-errors
typo
;

[2020-12-17 12:12] albbas opened #438 "longest-match rules in the tokenization disambiguation do not do their job (Bugzilla Bug 2711)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2711
Date: 2020-12-17T13:12:54+01:00
From: Linda Wiechetek &lt;<linda.wiechetek>&gt;
To:   Kevin Brubeck Unhammer &lt;<unhammer+apertium>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, tommi.pirinen, trond.trosterud

Last updated: 2020-12-18T10:50:14+01:00

[2020-12-18 10:43] albbas opened #613 "Suggesting words with first captialized letters does not seem to work"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2712
Date: 2020-12-18T11:43:49+01:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @flammie
CC:   @lynnda-hill, @snomos, @Trondtr, @unhammer

Last updated: 2021-02-16T21:23:40+01:00

[2020-12-18 13:05] albbas commented on #612
## Comment 14180
Date: 2020-12-18 14:05:51 +0100
From: @duomdaamaendra

Test 790/802: Ii dál leat nu jierpmálaš dahkku dat jus vikkat eret dan ovddasvástádusas mii dus lea, ja maid dáiddát obamuddui iešmielaid váldán badjelasat.
----------
[790/802][FAIL fp2] : () => iešmielaid:[iešmielat, iešmielagii, iešmielagin, iešmielagiid, iešmielas, iešmielagis, iešmielaga] (typo)

"<iešmielaid>"
        "i

[2020-12-18 13:39] albbas commented on #612
## Comment 14181
Date: 2020-12-18 14:39:00 +0100
From: @duomdaamaendra

uit-mac-717:lang-sme tom030$ echo mánáhápmásaš  | hfst-lookup -q src/analyser-gt-desc.hfstol
mánáhápmásaš	mánáhápmásaš+A+Attr	0,000000
mánáhápmásaš	mánáhápmásaš+A+Sg+Nom	0,000000

Test 745/802: Helander mielde dákkár vuoiŋŋat leat: 1) jábmiidáimmu vuoiŋŋat, 2) deattán, 3) oainnekeahtes golgodávddat ja áicanvuloš golgodávddat,

[2020-12-21 15:55] albbas commented on #612
## Comment 14182
Date: 2020-12-21 16:55:48 +0100
From: @duomdaamaendra

Test 541/802: – Mii diehtit buohkat ahte olggobeale olbmot, geain ii leat sohka dahje eará biras Guovdageainnus, eai boađe deike eambbo oanehaš bargat, lohká Hætta ja joatká: – Danin čoavdá dát vuohki ahte fillet doaktáriid Guovdageidnui oanehis áigái bargat, váttisvuođaid dušše oanehis boddui, ja dát vuohki ii dagat váttisvuo

[2020-12-22 13:21] albbas opened #437 "gramchk doesn't suggest some Err/MissingSpaces (Bugzilla Bug 2713)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2713
Date: 2020-12-22T14:21:42+01:00
From: Thomas Omma &lt;<thomas.omma>&gt;
To:   Linda Wiechetek &lt;<linda.wiechetek>&gt;
CC:   linda.wiechetek, sjur.n.moshagen, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2020-12-30T11:57:32+01:00

[2020-12-28 12:20] albbas commented on #612
## Comment 14185
Date: 2020-12-28 13:20:40 +0100
From: @duomdaamaendra

echo "Jus čarvvun čalmmiid hui guhká gitta, de soaittán áhku lusa ollet, jurddašii son ja dovddai mot čierrun easka vikkai hávkadit su..."| tools/grammarcheckers/modes/trace-smegramrelease-dev.mode | less

"<čarvvun>"
        "čárvut" <mv> V TV Ind Prs Sg1 Err/Spellrelax <W:0.0> @FS-ADVL> MAP:1609
3:r406 &typo #2->2 SUBSTITUTE

[2020-12-29 09:51] albbas commented on #612
## Comment 14186
Date: 2020-12-29 10:51:19 +0100
From: @duomdaamaendra

echo "Ovddit váhnenbuolvvat leat oahpahan mánáide ahte čierrun ja suhttu lea lobiheapmi..."| tools/grammarcheckers/modes/trace-smegramrelease-dev.mode | less

"<lobiheapmi>"
        "lobiheapme" A Sem/Dummytag Sg Nom Err/Orth <W:0.0> @<SPRED MAP:23336:r3334 &typo #11->11 ADD:8757:Err/Orth-any
typo
        "lobiheapme" A Sem/Du

[2020-12-29 14:48] albbas commented on #612
## Comment 14188
Date: 2020-12-29 15:48:44 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #24)

I get the correct analysis:

:
"<Kristianiai>"
        "Kristiania" N Prop Sem/Plc Sg Ill <W:0.0> @<ADVL MAP:23069 #13->13
        "Kristiania" N Prop Sem/Sur Sg Ill <W:0.0> @<ADVL MAP:23069 #13->13
;       "Kristiánia" N Prop Sem/Plc Sg Ill Err/Spellrelax <W:0.0> REMOVE:2151
:

Can you

[2020-12-29 14:52] albbas commented on #612
## Comment 14189
Date: 2020-12-29 15:52:10 +0100
From: @lynnda-hill

(In reply to Thomas Omma from comment #8)

Gilletgo lásihit "Num" ?
Gea:

miljovdna
miljovdna	miljovdna+v1+Num+Sg+Nom	0,000000

[2021-01-22 12:59] albbas commented on #612
## Comment 14205
Date: 2021-01-22 13:59:10 +0100
From: @duomdaamaendra

Test 1262/2010: Jurdagat orro moivašuvvamin.
----------
[1262/2010][FAIL fp2] : () => Jurdagat:[] (real-PlNomPxSg2-PlNom)

[2021-01-26 14:11] albbas commented on #612
## Comment 14206
Date: 2021-01-26 15:11:29 +0100
From: @duomdaamaendra

Test 821/1156: Dán 8 {million}${miljovdna} sturrosaš giellaprošeavttas livčče 15 proseantta dagahit 1,2 {million}${miljovdna} kruvnna, maid de Sámediggi sáhttá šaddat máksit jus lávdegotti mielas leš rihkkun lága.
----------
[ 821/1156][PASS tp] million:miljovdna (errorort) => million:[miljovdna] (typo)
[ 821/1156][FAIL fn1] m

[2021-02-16 20:23] albbas commented on #613
## Comment 14210
Date: 2021-02-16 21:23:40 +0100
From: @unhammer

Casing was already applied in the json and library modes (used by web, LO):

$ echo 'Álgoálbmot nissonat vásihit dávjá máŋgga dimenšuvnnat vealaheami, sihke sohkabeali ektu
i ja čearddalašvuođa ektui.' | bash smegramj.mode |jq .
{
  "errs": [
    [
      "Álgoálbmot nissonat",
      0,
      19,
      "msyn-compound",
      "\"Álgoá

[2021-03-04 16:43] carges opened #14 "Error in analysis"
I get some very weird analysis:
[code]

[2021-03-04 17:08] snomos commented on #14
Kor kjem teksten i frå? Det ser ut til at alle orda som hamnar bak `:` inneheld ein samisk bokstav med eit diakritisk teikn, og eg mistenkjer at teksten din er koda som Unicode NFD, dvs med "decomposed" diakritika (a + ´ osb).

[2021-03-04 17:08] snomos commented on #14
Det stemmer:

![Skjermbilde 2021-03-04 kl  19 08 33](https://user-images.githubusercontent.com/1255285/110001427-09fc8600-7d1d-11eb-9204-f2c475393783.png)

[2021-03-04 17:10] snomos commented on #14
Vi burde truleg leggja inn ein spellrelax som taklar slike tekstar, men i mellomtida er svaret å rydda i originalteksten. På kommandolina burde iconv eller eit liknande verkty kunna gjera jobben :)

[2021-03-05 08:14] carges commented on #14
Teksten kommer fra freecorpus/converted/sme

[2021-03-05 09:21] snomos commented on #14
Ok. Det er nærmast heilt sikkert tekst frå pdf-filer - det er berre pdf-filer som systematisk bruker Unicode NFD. Men i og med at vi har mykje slik tekst burde vi sikra oss at vi kan analysera teksten. Det finst to måtar å gjera det på:

- endra konverteringa slik at all tekst blir konvertert til Unicode NFC (@albbas ?)
- leggja til ein spellrelax i analysatoren for NFD

Eigentleg burde vi vel gje

[2021-03-05 10:03] albbas commented on #14
Det beste er vel å sørge for at output fra pdf-konverteringa (CorpusTools) er proper utf8?

[2021-03-05 10:15] snomos commented on #14
Jepp, det var vel det eg meinte med det fyrste punktet mitt 🙂

[2021-03-05 11:29] Trondtr commented on #14
Vi har denne i spellrelax.regex:
á (->) á, # Letter + combining acute
Á (->) Á, # Letter + combining acute
đ (->) ð, # eth
č (->) č, # Letter + combining caron
Č (->) Č, # Letter + combining caron
đ (->) Ď, # Letter + combining caron
š (->) š, # Letter + combining caron
Š (->) Š, # Letter + combining caron
ž (->) ž, # Letter + combining caron
Ž (->) Ž, # Letter + combining caron
Så eg er

[2021-03-05 11:57] snomos commented on #14
Då er problemet knytt til pmatch/tokenise. Eg skal sjå på det.

Uansett er det jo bra om @albbas fiksar pdf-konverteringa 🙂

[2021-03-05 12:03] flammie commented on #14
ä er enig att man skulle fiksa den i først konverteringssteg. Vi vurdert den samme problem i apertium sin github issues og tino noterte att det kan vara några farlig konversionspar i nfc/nfd som man må vet förran, se här https://github.com/apertium/organisation/issues/24.

[2021-03-06 14:36] albbas commented on #14
Teksten ser ut til å stamme fra $GTFREE/converted/sme/science/samilogut/2010/2.sami_mediat.pdf.xml.
svn log viser at siste innsjekk for den filen er r10175 (12. januar i år)

[code]
gir ingen slike analyser som @carges har, f.eks.:
[code]

[2021-03-08 07:50] albbas commented on #14
Det er en del dokumenter (.txt, .html) med dekomponerte bokstaver i orig-delen av korpusene, så nå er siste steg av konverteringa å kjøre en NFC-normalisering av det konverterte dokumentet før det skrives til disk (r192881 i langtech).

[2021-03-08 07:55] snomos commented on #14
Veldig bra. Då kan vel denne saka avsluttast?

[2021-03-08 09:47] carges commented on #14
Jeg avslutter saka etter kommentarer fra @albbas og @snomos

[2021-03-08 09:47] #14 closed

[2021-03-08 10:21] snomos opened #15 "transcriptor er feil veg"
[code]

Altså: `text2digit` oppfører seg som `digit2text`, og omvendt. Dette gjer at tekstnormalisering/ekspandering i tekst-til-taleprosesseringa ikkje fungerer.

Eg set både Lene og Thomas på denne, og kanskje @carges òg må sjå på saka pga den bruken desse filene har i Oahpa. @Trondtr har du sysnpunkt? Du var med og laga desse filene.

[2021-03-08 14:35] rueter commented on #15
It looks like some how or other the file
lang-sme/src/transcriptions/transcriptor-numbers-digit2text.lexc

has the ordering TEXT : DIGIT, something we fixed in the AKU projects about
4 years ago.

LEXICON ONESG
miljárda:1   OVERMILLIONS ;
guokte:2     GIGA ;
golbma:3     GIGA ;
njeallje:4   GIGA ;
vihtta:5     GIGA ;
guhtta:6     GIGA ;
čieža:7      GIGA ;
gávcci:8     GIGA ;
ovcci:9      GIGA ;

[2021-03-09 15:28] snomos opened #16 "`jus` blir ikkje godkjent"
Rapport frå @leneantonsen:

<img width="357" alt="Skjermbilde 2021-03-09 kl  09 33 27" src="https://user-images.githubusercontent.com/1255285/110494957-badb9a00-80fc-11eb-8b67-ecd152fea0f2.png">

[2021-03-09 16:26] snomos opened #17 "Prikka linje får feil"
Jf:

<img width="446" alt="feil med mange prikkar" src="https://user-images.githubusercontent.com/1255285/110503488-e95d7300-8104-11eb-87a1-fd2bc5c46329.png">

[2021-03-09 16:28] snomos opened #18 "`omd` utan punktum får irrelevant forslag"
Jf:

<img width="446" alt="omd-feil" src="https://user-images.githubusercontent.com/1255285/110503711-2590d380-8105-11eb-9eb1-99a9ccecc2ef.png">

[2021-03-11 08:35] thomasomma commented on #18
FIXED:

"<omd>"
        "omd" Adv Err/Orth Sem/Txt ABBR Gram/TAbbr <W:0.0> @ADVL> MAP:23120 &typo ADD:8895:Err/Orth-any
typo
        "omd" Adv Sem/Txt ABBR Gram/TAbbr <W:0.0> @ADVL> MAP:23120 &typo &SUGGEST ADD:8895:Err/Orth-any COPY:8904:Err/Orth-any
omd+Adv+ABBR+Gram/TAbbr omd.
;       "omd" Adv Err/Orth Sem/Txt ABBR Gram/TAbbr Attr <W:0.0> REMOVE:14783:AttrVFINx

[2021-03-11 08:35] #18 closed

[2021-03-11 08:39] thomasomma commented on #16
FIXED:

"<jus>"
        "jus" CS <W:0.0> @CVP SELECT:12991:jusCS MAP:13507:r11
;       "jus" N <NomGenSg> Err/Lex Sem/Domain Sg Gen <W:0.0> SUBSTITUTE:3532 SELECT:12991:jusCS
;       "jus" N <NomGenSg> Err/Lex Sem/Domain Sg Nom <W:0.0> SUBSTITUTE:3532 SELECT:12991:jusCS
;       "juss" N <NomGenSg> Err/Lex Sem/Domain Sg Gen <W:0.0> SUBSTITUTE:3532 SELECT:12991:jusCS
;       "juss" N <NomGenSg> Err/

[2021-03-11 08:39] #16 closed

[2021-03-12 08:01] snomos commented on #15
Denne hastar. @Trondtr kan du sjå på dette?

[2021-03-12 11:39] Trondtr commented on #15
Kva er det som gjer at dette hastar no? Vi vil at språka skal vere konsistent, men dei er det ikkje, og det står på todo-lista å gjer dei det.

[2021-03-12 11:40] Trondtr commented on #15
aha, ok, pga tekst-til-tale. Eg har førelesing til 1500 men skal sjå på dette etterpå. Er det travlare må nokon annan gjere det.

[2021-03-18 16:55] snomos opened #19 "Talanalyse og taleining - eitt eller to segment?"
Slik den noverande talanalysatoren er organisert (i giella-shared?) så blir fleire ulike typar einingar analyserte i lag med talet:

[code]

Dette er både problematisk og ufleksibelt i lengda. Det er problematisk for tekst-til-taleprosesseringa, fordi konverteringa frå tal og avstytting til tekst ikkje funkar eller blir alt for komplisert:

[code]

Legg eg inn to mellomrom mellom `37` og `km` så b

[2021-03-18 17:53] Trondtr commented on #19
Dette er ikkje bra.

Dei einaste måleeiningane som er med er lengemål, vekt er derimot ikkje med (sjå nedanfor).

Dette gjev ulik handsaming av 34 km og 34 kg. Det fører også til at 34 km/t (34 km/d?) blir analysert slik:

uit-mac-443:lang-sme ttr000$ e 34 km/t |hfst-tokenise -cg tools/tokenisers/tokeniser-disamb-gt-desc.pmhfst |vislcg3 -g src/cg3/disambiguator.cg3

"<34 km>"

           "34 km" N

[2021-03-19 10:08] snomos commented on #19
Det ser ut som om det leksikonet er laga for grammatikkontrollen, for å fanga opp og retta manglande mellomrom. Eg legg inn ein tagg som seier at dette leksikonet *berre* skal brukast i grammatikkontrollen - då slepp vi slike analyser i andre samanhangar.

[2021-03-19 14:01] snomos commented on #19
Jepp, no funkar det som det skal:

[code]

Fiksa i https://github.com/giellalt/giella-shared/commit/d1bcb96801a0610648d130587210a2e3cb3e18f9.

[2021-03-19 14:01] #19 closed

[2021-03-27 15:18] albbas commented on #2
This has been fixed for quite a while

[2021-03-27 15:18] #2 closed

[2021-03-27 15:22] albbas opened #20 "Mánážiiddán gets double +N analysis"
[code]

[2021-03-29 08:41] snomos commented on #15
Denne er fiksa for SME. Eg stengjer.

[2021-03-29 08:41] #15 closed

[2021-04-06 13:49] flammie opened #21 "missing wordforms from unimorph data"
I was working with unimorph recently and found a sme dataset and ran it  through our analysers, I got the attached missings' list, and it may contain something to fix in the things? I asked Linda and Duomma and I hear there's at least some old orthography things and some other things too:

[sme-unimorph-missinglista.txt](https://github.com/giellalt/lang-sme/files/6265113/sme-unimorph-missinglista.

[2021-06-25 14:12] carges opened #22 "No analysis for "#" at beginning of sentence"
"#" doesn't get an analysis at the beginning of a sentence:
[code]

[2021-06-28 13:25] carges opened #23 "No analysis for "Ergonomalaš""
I get no analysis for "Ergonomalaš" both at the beginning of sentence and alone:
[code]
same here:
[code]

[2021-06-28 13:53] snomos commented on #23
This is most likely because the `š ` in `Ergonomalaš` is encoded as a two-character sequence: `s` + ``, as seen in this screenshot from UnicodeChecker:

<img width="352" alt="Skjermbilde 2021-06-28 kl  16 51 17" src="https://user-images.githubusercontent.com/1255285/123647806-15763e80-d831-11eb-992c-bb4d8225683f.png">

 The strange thing is that this type of decomposed diacritics should be covered

[2021-06-28 15:37] snomos commented on #23
Test result:

[code]

The word is unknown, but at least it is now recognised 😃

[2021-06-29 06:29] Trondtr commented on #23
The š is solved (thanks to Sjur!), but I reopen, since the problem is more general (or we may move it to a more general bug).

Sjur added these diacritics {̌}|{́}|{̃} (caron, acute accent, tilde) for sme.

Looking across the languages, we see that no language have these in the respective files, except mhr, who has more:

|{́}
|{̈}
|{̌}
|{̶}
|{ϸ}
|{֪}
|{ٕ}

The reason for this is that I have includ

[2021-06-29 10:32] Trondtr commented on #22
Keine ahnung... This must be looked into.

[2021-07-01 08:57] carges commented on #22
Here is another example:
[code]

[2021-07-01 08:58] carges commented on #22
It seems however, that is not just at the beginning of sentence. "#" is not analysed at all, even when alone:
[code]

[2021-07-01 09:44] snomos commented on #22
Problemet er `#` i seg sjølv - vi nyttar det teiknet internt for å merkja av ordgrenser. Dermed er det meir styr å kunna analysera det som eit sjølvstendig teikn.

Det har ikkje vore eit problem tidlegare - teikn som `#` med fleire har berre hatt teknisk bruk som ikkje har vore frekvent i tekstane våre. Men med sosiale medium og tagging av alle slag har situasjonen endra seg.

Det grunnleggjande p

[2021-07-01 11:29] flammie commented on #22
mm, # er ganske mest overloaded symbol også i xerox systemer... den ligger allerede i `giella-shared/all_langs/src/fst/stems/symbols.lexc` som:
[code]
men `#7` er ikke definiert i `lang-sme/src/fst/root.lexc` og også har ingen postprosessering giella-shared. Æ prövde bara med `#7`some en multichar og med `#7 -> %#` og fikk:
[code]
men vi kanske vill også ha hashtaggar som url-guesser eller likadan

[2021-07-01 12:38] Trondtr commented on #22
Det ser med andre ord ut til at vi bør sjekke inn #7 som Multichar. Det bør vi sjølvsagt uansett, når vi bruker #7 i koden. så skriv du:
#7 -> %#
men kor er den regelen?

[2021-07-01 12:40] snomos commented on #22
Den står alt i `giella-shared/all_langs/src/filters/remove-word-boundary.regex`

[2021-07-01 14:14] flammie commented on #22
mm ja æ pushte den i lang-sme sin root.lexc og i giella-shared in i `all_langs/src/filters/remove-infl_deriv-borders.regex` fordi de var likadana reglar där för >7 osv.

[2021-07-05 14:56] carges opened #24 "No analysis for "﻿﻿﻿﻿﻿﻿﻿Sámi""
I get the following, both alone and within a sentence:
[code]

[2021-07-06 09:00] albbas opened #800 "malformatted number ranges get weird analyses by the fsts (Bugzilla Bug 2716)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2716
Date: 2021-07-06T11:00:28+02:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @snomos
CC:   @leneantonsen, @duomdaamaendra, @flammie, @Trondtr

Last updated: 2021-07-06T13:00:58+02:00

[2021-07-06 11:00] #800 closed, assigned to snomos

[2021-07-06 12:49] Trondtr commented on #24
Eg limte
'﻿﻿﻿Sámi'

inn i ein hexeditor og såg dermet at det i starten og slutten av ordet (altså mellom ' og S, mellom i og ', låg unicodeteiiknet U+FEFF. Det er den som hindrar analyse (pipeline etter hfst-tokenise -kommandoen er irrelevant).

Trond

Lähettäjä: Chiara Argese ***@***.***>
Päivämäärä: maanantaina, 5. heinäkuuta 2021 klo 17.56
Vastaanottaja: giellalt/lang-sme ***@***.***>
Kopio: Su

[2021-07-07 09:20] Trondtr commented on #24
Diskusjonen her er no splitta i ein kommentar:
https://github.com/giellalt/lang-sme/commit/93e7282dcda0d31ef6c7e5dc2ba6235bd28bc2f8

Men eg skriv her også for å kommentere sjølve analysen.

Eg har altså tentativt lagt FEFF til i  tools/tokenisers/tokeniser-disamb-gt-desc.pmscript, men ut over det ikkje endra sme-fst-koden.

Analysen fungerer dermed som han skal:

 echo '﻿﻿﻿Sámi'| hfst-tokenise --p

[2021-07-20 08:21] carges opened #25 "No analysis for "Ásalńt""
I get the following:
[code]

same if alone:
[code]

[2021-07-20 11:51] #25 closed

[2021-07-20 12:56] carges opened #26 "Soft hyphen doesn't get analysis"
I can see in the terminal that the symbol doen't get any analysis, but if I try to copy the text from the terminal is not visible:
[code]
If I search the unicode, I get that is called a soft hyphen.
Here is a screenshot of the terminal:
<img width="1415" alt="Screenshot 2021-07-20 at 14 50 06" src="https://user-images.githubusercontent.com/22960703/126327841-ab3380da-c426-4dff-95d1-5587297f0b33.pn

[2021-07-27 05:42] Trondtr commented on #26
The sign is defined:

uit-mac-443:lang-sme ttr000$ grep '­' tools/tokenisers/*.pmscript
tools/tokenisers/tokeniser-disamb-gt-desc.pmscript:Define incondform      Punct|{„}|{“}|{”}|{…}|{‚}|{‘}|{’}|{–}|{—}|{­}|{_}|{<}|{>}|{«}|{»}|{@}|{'}|{‹}|{›}|{➤}|{•}|{﻿} ;
tools/tokenisers/tokeniser-gramcheck-gt-desc.pmscript:Define incondform      Punct|{„}|{“}|{”}|{…}|{‚}|{‘}|{’}|{–}|{—}|{­}|{_}|{<}|{>}|{«}|{»}

[2021-07-28 09:43] carges opened #27 "No analysis for "➤""
I get the following:
[code]

[2021-07-28 15:47] snomos commented on #27
Why do you need an analysis? Does it have a significance in the text? Does it get an analysis in the regular analyser?

[2021-07-28 17:45] Trondtr commented on #27
Fordi ukjende symbol stoppar Börre sitt skript.

Hanki Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Sjur Moshagen ***@***.***>
Sent: Wednesday, July 28, 2021 6:47:45 PM
To: giellalt/lang-sme ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [giellalt/lang-sme] No analysis for "➤" (#27)

Why do you need an analysis? Does it have a significance in the text?

[2021-07-28 18:06] carges commented on #27
Det er Ciprian skriptet som stopper, den takler ikke "feil" format i analyserte tekster.
Poeng er at det som er ukjent bør komme slik:
[code]
og ikke etter ":"

[2021-07-29 02:42] snomos commented on #27
Uansett om det er Børre eller Ciprian sitt skript som er problemet, så bør feilen rettast der og ikkje med ein evig runddans med `*.pmscrip`-filene. Notasjonen med `: xxx` er jo nettopp _meint_ for å handtera ukjente teikn som ikkje har relevans for tekstanalysen. It’s not a bug, it’s a feature 🙂

[2021-09-22 11:26] flammie opened #28 "number stuff"
Linda so:

[code]

[2021-09-27 15:20] albbas opened #29 "“ produces two separate errors"
echo "lávlo “áhku sávzzat lávlaga."|divvun-checker -a /usr/share/voikko/4/se.zcheck |jq .
{
  "errs": [
    [
      "lávlo “áhku",
      0,
      11,
      "punct-aistton-left",
      "Boasttuaisttonmearkkat",
      [
        "“áhku",
        "”áhku"
      ],
      "Aisttonmearkkat"
    ],
    [
      "lávlo “áhku",
      0,
      11,
      "punct-aistton-right",
      "Boasttuaisttonmearkkat",

[2021-09-27 15:34] flammie commented on #28
added 4,799.252 as err/orth in giella-shared

[2021-09-27 17:10] albbas opened #30 "” produces error without suggestion"
echo "sávzzat” lávlaga."|divvun-checker -a /usr/share/voikko/4/se.zcheck |jq .
{
  "errs": [
    [
      "sávzzat”",
      0,
      8,
      "punct-aistton-right",
      "Boasttuaisttonmearkkat",
      [],
      "Aisttonmearkkat"
    ]
  ],
  "text": "sávzzat” lávlaga."
}

[2021-09-28 08:52] albbas commented on #29
Using an older grammarchecker, the result is different, producing only one error, with a more precise range.

echo "lávlo “áhku sávzzat lávlaga."|divvun-checker -a $GTPRIV/art/2021/naacl-hlt2021/se.naacl-2021-4.zcheck| jq .
{
  "errs": [
    [
      "“áhku",
      6,
      11,
      "punct-aistton-left",
      "Boasttuaisttonmearkkat",
      [
        "”áhku"
      ],
      "Aisttonmearkkat"
    ]

[2021-09-30 13:25] #30 closed

[2021-10-04 08:14] albbas commented on #29
This has been solved:
echo "lávlo “áhku sávzzat lávlaga."|divvun-checker -a /usr/share/voikko/4/se.zcheck |jq .
{
  "errs": [
    [
      "“áhku",
      6,
      11,
      "punct-aistton-left",
      "Boasttuaisttonmearkkat",
      [
        "”áhku"
      ],
      "Aisttonmearkkat"
    ]
  ],
  "text": "lávlo “áhku sávzzat lávlaga."
}

[2021-10-04 08:14] #29 closed

[2021-10-18 09:36] #547 closed, assigned to unhammer

[2021-10-18 10:05] lynnda-hill opened #31 "tokenization of "..." should be one token"
In the following sentence  we have the expression "*and so on ...*". But the three dots are tokenized as a period and two separate periods causing a problem for the grammarchecker. We should at  least allow for  the option  of tokenizing all  three dots as one token (could maybe then be disambiguated in mwe-dis.cg3:

Example:

pipeline:
[code]

Output:
[code]

[2021-10-19 03:57] flammie commented on #31
The problem of full stop final abbreviation plus ellipsis appears quite often in all langs. at least in Finnish typography / grammar / rules three full stops is the correct one and we have decided that it's tokenised so that surface of abbreviation keeps one full stop and the ellipses has two full stops on surface but three (or ellipsis symbol) on analysis level. I.e. I propose a giella-shared/all

[2021-11-01 13:38] lynnda-hill opened #32 "wrong tokenization of date ranges"
In the following example we  want to tokenize "7.-11.5." as a date (range).

Ságastallan lea rabas neahtas 7.-11.5., muhto dárbbu mielde ságastallanáiggi sáhttá guhkidit.

Instead it is tokenized  in  the following way:

"<7.-11.5>"
        "7.-11.5" Num Sem/ID <W:0.0> #5->5
"<.>"
        "." CLB <W:0.0> <NoSpaceAfterPunctMark> &no-space-after-punct-mark #6->6 ID:6 R:RIGHT:8 ADD:9780:no-space-afte

[2021-11-18 10:05] lynnda-hill commented on #31
found another one with three full stops:

Oskujođieheaddjit plánejedje su jávkadit dan sivas go sii gáđaštedje su, muhto sis váilo ákkat áššáskuhttit su...

[2021-11-18 10:06] lynnda-hill commented on #31
we get the following analysis:

"<su>"
        "son" Pron Sem/Hum Pers Sg3 Gen <W:0.0> @<ADVL SUBSTITUTE:3530 MAP:23287:r520 #17->17
        "son" Pron Sem/Hum Pers Sg3 Acc <W:0.0> @<OBJ SUBSTITUTE:3530 MAP:23875:IfNoTransV> #17->17
;       "su" Adv ABBR Gram/NumNoAbbr <W:0.0> REMOVE:3659
"<..>"
        "." CLB Err/Orth <W:0.0> <NoSpaceAfterPunctMark> &no-space-after-punct-mark #18->18 ID:18 R:RIG

[2021-11-18 15:13] duomdaamaendra opened #33 "{§3}${§ 3} and {3§}${3 §}"
doesnt work - I mean that the latter one has worked before

[2021-11-18 16:15] duomdaamaendra opened #34 "gramcheck-test.py -c VS echo"
these often give different analyses, for ex. of these clauses:

A:
Test 102/484: Dát gáržžida plánekeahtes huksema mii dál dáhpáhuvvá viiddis sierralobi mieđihemiid vuođul, ja mat oktiibuot dagahit stuora ja viiddis sisabahkkemiid sámi guovlluin ja nu maiddái dagaha ahte meahci adnu rievdaduvvo.
----------
[102/484][FAIL fp2] : (, ()) => viiddis:[viiddes] (typo)

B:
Test 244/484: Čoahkkinjoiheaddj

[2021-11-18 16:17] duomdaamaendra commented on #34
which one should you trust?

[2021-11-18 16:19] duomdaamaendra commented on #34
hihi - "semi letters". I meant "sámi letters"

[2021-11-19 11:51] albbas commented on #33
Running §3 through the grammarchecker gives this result:
[code]
The result of running §3 through the spellchecker gives this result:
❯ echo '§3'|hfst-ospell -n 5 -S /usr/share/voikko/3/se.zhfst
"§3" is NOT in the lexicon:
Corrections for "§3":
ja    42.959839
go    44.787262
ii    45.488708
de    45.913067
[code]
❯ echo '§3'|hfst-lookup -q /usr/share/giella/sme/analyser-gt-desc.hfstol
§3      §3+N

[2021-11-19 14:01] albbas commented on #34
When running the same test, using the nightly gramchecker (/usr/share/voikko/4/se.zcheck on my linux system), viiddis is not marked as an error.

Here the error is in gramchecker-test.py

[2021-11-19 14:35] albbas commented on #34
This part of the issue should be fixed in [fc36b81](https://github.com/giellalt/giella-core/commit/fc36b81f427b71599a1ef6133fb265d06c806bf4) in giella-core.

[2021-11-19 14:57] snomos commented on #34
I have commented it here: https://github.com/giellalt/giella-core/commit/fc36b81f427b71599a1ef6133fb265d06c806bf4#commitcomment-60562322. Not sure whether this is the correct solution.

[2021-11-24 08:42] lynnda-hill opened #35 "space error correction works with divvun-checker, but we get an fp when running yaml tests"
We ran the yaml-test real-PrtPl3-PrsSg3.yaml. There we get a false positive for the space error correction connected to "s.57-58". However, if we just run the grammar checker in the terminal (both with modes and also with divvun-checker) the correction seems to be fine. Is there an error in the yaml-test routine or is it something else?

Result of yaml-tests:

Test 871/3708: (Schnitler gihpa III,

[2021-11-24 09:42] albbas commented on #35
There is an error in gramcheck-test.py, I'm looking at it now.

[2021-11-25 11:52] #35 closed

[2021-11-29 13:37] lynnda-hill commented on #31
we should fix it before the new release. I have seen a number of cases of it.

[2021-11-29 14:48] carges opened #36 "Error on make"
I get the following message:
[code]

[2021-12-07 09:03] flammie commented on #31
I changed the dot lexicon so one and three full-stops work the same, i.e.:

[code]

[2022-01-06 15:22] #32 closed

[2022-01-06 15:25] flammie commented on #32
[code]

The issue was that date regexp had obligatory leading 0 for dates < 10... this may cause some extra ambiguity.

[2022-01-13 12:46] lynnda-hill opened #37 "fst doesn't analyze "§51" and "5x55""
I have noticed  a couple of formula our fsts seem to have trouble analyzing.
I used tools/grammarcheckers/modes/trace-smegramrelease-dev.mode
I'm wondering if we should do something about it or if there is a solution for that already:

§51
5x55

Below the example sentences:

Juovlamánu 14. b. 1951 bivdolága §51 viiddiduvvui eanaeaiggáda vuoigatvuohta ráfáiduhtton sajiin maiddái siskkildit iežas ad

[2022-01-13 13:48] snomos commented on #37
Det ser ut til at `§55` blir filtrert ut i kompileringa, ein eller annan grunn:

[code]

Eg skal sjå på det.

Når det gjeld `5x55` så har slike uttrykk aldri vorte analyserte, så det må leggjast til. Eg skal sjå på det òg.

[2022-01-13 14:44] snomos commented on #37
Problemet med `§51` er at han er tagga `+Use/-Spell`:

[code]

Og alle slike blir fjerna frå gramsjekk-analysatoren.

[2022-01-18 12:29] lynnda-hill opened #38 "splitting of the pronoun "feara makkárge""
The attributive multi-word pronoun "feara makkárge" is automatically tokenized with a separate particle "ge" before any Constraint Grammar analysis.
For grammar rules it is a disadvantage to have  a particle between an attributive pronoun and its nominal head.
It is also strange when two separate elements are analyzed as a MWE just to split  the element in two.

-------------------
Example sentenc

[2022-01-18 12:51] snomos commented on #38
So what do you want the output / analysis to be?

[2022-01-18 12:54] lynnda-hill commented on #38
I would like to get:

"<feara makkárge>"
instead of:
"<feara makkár>"

[2022-01-24 09:17] duomdaamaendra opened #39 "gramchk byter font/textstorlek!"
Detta er teksten innan jag har tryckt på nån knapp:

<img width="1465" alt="Skjermbilde 2022-01-24 kl  03 55 31" src="https://user-images.githubusercontent.com/26539221/150756155-ea066121-2c19-4afd-b014-fbfb118c0464.png">

och så säger gramcheckern att det er fel hermetegn, och jag trycker, och då tar ordet "ruhtabursa" efter fonten tidigare i texten:

<img width="887" alt="Skjermbilde 2022-01-24

[2022-01-24 09:17] duomdaamaendra commented on #39
<img width="5" alt="Skjermbilde 2022-01-24 kl  03 55 01" src="https://user-images.githubusercontent.com/26539221/150754786-56cdaa1c-11f7-48fc-8485-b8f00102bd6f.png">

[2022-01-24 09:18] duomdaamaendra commented on #39
<img width="5" alt="Skjermbilde 2022-01-24 kl  03 55 01" src="https://user-images.githubusercontent.com/26539221/150754849-9cdec857-36e0-482d-9384-b0e5647b8122.png">

[2022-01-24 09:20] duomdaamaendra commented on #39
<img width="5" alt="Skjermbilde 2022-01-24 kl  03 55 01" src="https://user-images.githubusercontent.com/26539221/150755148-52a80d18-c9a7-485c-86a7-c49351ac51b4.png">

detta er teksten innan jag har tryckt på nån knapp

[2022-01-24 09:22] duomdaamaendra commented on #39
<img width="5" alt="Skjermbilde 2022-01-24 kl  03 55 01" src="https://user-images.githubusercontent.com/26539221/150755402-9273a14d-f591-408a-b8b1-198720159b9e.png">

@unhammer

[2022-01-24 09:24] duomdaamaendra commented on #39
<img width="1420" alt="Skjermbilde 2022-01-24 kl  04 00 04" src="https://user-images.githubusercontent.com/26539221/150755846-419f144d-196e-489d-aa7a-a8e75ea2d682.png">

[2022-01-24 09:26] duomdaamaendra commented on #39
<img width="1465" alt="Skjermbilde 2022-01-24 kl  03 55 31" src="https://user-images.githubusercontent.com/26539221/150756155-ea066121-2c19-4afd-b014-fbfb118c0464.png">

[2022-01-24 09:27] duomdaamaendra commented on #39
och så säger gramcheckern att det er fel hermetegn, och jag trycker, och då tar ordet "ruhtabursa" efter fonten tidigare i texten:

[2022-01-24 09:28] duomdaamaendra commented on #39
<img width="887" alt="Skjermbilde 2022-01-24 kl  10 27 54" src="https://user-images.githubusercontent.com/26539221/150756440-7f9af8c4-a746-4fa4-b6fb-abed946e78ff.png">

[2022-01-24 10:00] duomdaamaendra opened #40 "GDocs, Word klarar inte føreslå stor bokstav før samiska bokstæver"
detta påminner om problemet vi haft förut i tex terminalen, men nu funkar ju det.
<img width="1516" alt="Skjermbilde 2022-01-24 kl  10 59 26" src="https://user-images.githubusercontent.com/26539221/150761634-2a633d4a-ba44-4baa-9d80-52cfb5e6c5af.png">

[2022-01-24 10:02] duomdaamaendra commented on #40
@snomos
@lynnda-hill

[2022-01-24 10:15] snomos commented on #40
Er det berre i Google docs? Eller gjeld deg òg MS Word?

[2022-01-24 10:23] duomdaamaendra commented on #40
forsøker kolla, men får inte igång word nu

[2022-01-24 11:53] albbas commented on #40
Samme resultat i Word, forslag med liten forbokstav.

[2022-01-24 11:58] snomos commented on #40
Då er nok rette personen @unhammer

[2022-01-24 13:29] unhammer commented on #39
Kva for program er dette – google docs?

[2022-01-24 22:04] unhammer commented on #39
meiner du libdivvun? Kunne du (ev. nokon som jobbar med dei pluginane) henta ut det som blir sendt som input til libdivvun i så fall?

[2022-01-25 16:47] duomdaamaendra opened #41 "GDocs marks AND fixes on wrong place when word or sign is in many places"
<img width="1545" alt="Skjermbilde 2022-01-25 kl  17 42 36" src="https://user-images.githubusercontent.com/26539221/151021031-95b20488-d078-4cf2-82f4-e7e6f17c6ddd.png">

@snomos
@lynnda-hill

[2022-01-25 16:48] duomdaamaendra commented on #41
@snomos
@lynnda-hill

[2022-01-25 17:54] snomos commented on #41
Hei @duomdaamaendra Kan du lima inn heile teksten som du har teksta med, slik at andre kan testa og reprodusera? Det er viktig at det er i alle fall er så mykje tekst at det blir to tilfelle av det same ordet med feil i (*imprešonisttalaš* i dette tilfellet). Elles blir det uråd å reprodusera :)

[2022-01-26 01:15] duomdaamaendra commented on #41
Sámis gávdno juoga mii sulastahttá girjjálašvuođa árvvoštallama. Ellen Marie Vars «Kátjá» romána omd. lea maŋemuš jagiid ožžon stuorámus fuobmášumi go oppa njeallje árvvoštalli čálle girjji birra. Ieš guđet sivain sii dadjet girji lei buorre ja čálli lei čeahppi, muhto dattege – dađe čiekŋaleabbo girjjálašvuođa árvvoštallamat gal eai lean. Dát árvvoštallan lea buorre ovdamearkan diekkár čuoččuhuss

[2022-01-26 01:23] duomdaamaendra commented on #41
3 x imprešonisttalaš no!

[2022-01-26 01:50] duomdaamaendra opened #42 "Word doesn't recognize perfectly fine word"
<img width="1567" alt="Skjermbilde 2022-01-26 kl  02 47 26" src="https://user-images.githubusercontent.com/26539221/151089833-8f2a5b26-c712-4344-9da6-8e9f1f1994ad.png">

[2022-01-26 01:52] duomdaamaendra commented on #42
the word is recognized in Googledocs, and here analyze in terminal:
"<muhtunlágán>"
        "muhtunlágan" A Sem/Dummytag v2 Attr <W:0.0> @>N SELECT:15576:r1785 SELECT:15025:AAttrCop MAP:22327:r86 #46->46
;       "muhtunlágan" A Sem/Dummytag v2 Sg Acc Err/Orth-nom-acc <W:0.0> SELECT:15576:r1785
;       "muhtunlágan" A Sem/Dummytag v2 Sg Gen Err/Orth-nom-gen <W:0.0> SELECT:15576:r1785
;       "muhtu

[2022-01-26 01:53] duomdaamaendra commented on #42
@snomos

[2022-01-26 01:59] duomdaamaendra commented on #42
one more example, the same fenomenom:
<img width="1587" alt="Skjermbilde 2022-01-26 kl  02 58 04" src="https://user-images.githubusercontent.com/26539221/151090994-00534fe9-5ee6-4308-8bb1-57c75b94d2c3.png">

[2022-01-26 02:00] duomdaamaendra commented on #42
@snomos

[2022-01-26 06:49] snomos commented on #40
Her er teksten som tekst, slik at det er lett å testa:

[2022-01-26 08:42] snomos opened #43 "GramDivvun speller suggestion regression - no suggestions where it used to be"
Cf https://github.com/divvun/divvun-gramcheck-web/issues/18

This also be related to the discussion in https://github.com/divvun/libdivvun/issues/33.

[2022-01-26 09:16] snomos commented on #39
Hm, no er eg ikkje i stand til å reprodusera feilen. Og https://github.com/divvun/divvun-gramcheck-web/issues/51 tyder jo på at feilen ikkje ligg i `libdivvun`.

[2022-01-28 02:54] duomdaamaendra opened #44 "MS Word often shows wrong context for error"
<img width="1567" alt="Skjermbilde 2022-01-28 kl  03 58 52" src="https://user-images.githubusercontent.com/26539221/151479762-efa30e5c-2ed8-4d15-979f-e5229467e5ad.png">

Text:

[2022-01-28 03:03] duomdaamaendra commented on #44
typically it lags behind one step, like in example where kontext is in sentence before (where it is kind of stuck at that error (viššsaleappot). Also typical is that gram checker has had no suggestion for the error before - ie. "viššsaleappot"

[2022-01-28 03:19] duomdaamaendra opened #45 "msword marks part of correct word as error"
<img width="1560" alt="Skjermbilde 2022-01-28 kl  04 17 25" src="https://user-images.githubusercontent.com/26539221/151481587-027ce7dd-67a7-4d53-a888-a19a47840796.png">

@snomos

[2022-01-28 03:30] duomdaamaendra commented on #45
<img width="1552" alt="Skjermbilde 2022-01-28 kl  04 25 50" src="https://user-images.githubusercontent.com/26539221/151482237-aabb884c-5c53-4f79-ab2b-742e4ffd10a6.png">

this example is from erroneous word (correct: "-diehtagis"), but the marked part is korrekt: it is the not-enclitical particle "gis"

[2022-01-28 06:11] snomos commented on #45
In both cases I need the original text to be able to reproduce and debug. The paragraph containing the problem should be enough.

[2022-01-28 09:50] duomdaamaendra commented on #45
Jos dal vel Sámis leat sullasaš dilit go davviriikkain muđuid, de fuobmá árvvoštallamiin goit ovtta erenoamáš ášši mii earuha sámi árvvoštallamiid omd. dáža árvvoštallamiin. Girječálli birra, ja su ođđa girji ovddeš bargguiguin veardádallon, gávnnat hárve sámi árvvoštallamiin. Čiekŋaleabbo dieđu go ahte gos čálli lea riegádan ja gos ássá, gávnnat hárve. Oalle dábálaš lea dákkár diehtu lohkkái: «Mu

[2022-01-28 09:51] duomdaamaendra commented on #45
Jos ohcala siva dasa ahte čálli birra leat uhcán dieđut, de vástádus dáidá leat nu álki go ahte nie šaddá lunddolaččat servodagasgos [116] buohkat dovddadit. Árvvoštalli duhtá dasto daid dábálaš dieđuide mat juo buohkain leat čálli birra. Dás han maiddái lea sáhka dušše ođđa girjjiin, ja otnáš čálliin. Ii árvvoštalli arvva lebbet dieđuid čálli eallimis omd., jos dal vel oaivvildeš ahte leat leamaš

[2022-01-28 10:03] duomdaamaendra commented on #45
the same in Googledocs

[2022-01-28 10:07] snomos commented on #45
The first case, `gavnnat` / `nn`, seems to be the same as [this bug](https://github.com/divvun/divvun-gramcheck-web/issues/18). That is, this bug is not restricted to GDocs.

[2022-01-28 10:12] duomdaamaendra commented on #44
<img width="1401" alt="Skjermbilde 2022-01-28 kl  11 10 12" src="https://user-images.githubusercontent.com/26539221/151528483-8dd280c5-6efc-4391-b015-96d18ae2d6d0.png">

Google docs is at least in the right place in the second example, but it hasn't got any suggestions. I seen other differences between the two, I report when I find again

[2022-01-28 10:17] duomdaamaendra commented on #44
Googledocs does right in both examples

[2022-01-28 10:23] snomos commented on #45
The second example, the `gis` bug, is most likely on our end, but needs further investigation.

[2022-01-28 10:24] snomos commented on #44
Texts please, so that others can reproduce and debug? 😄

[2022-01-28 10:28] duomdaamaendra commented on #44
Sámis gávdno juoga mii sulastahttá girjjálašvuođa árvvoštallama. Ellen Marie Vars «Kátjá» romána omd. lea maŋemuš jagiid ožžon stuorámus fuobmášumi go oppa njeallje árvvoštalli čálle girjji birra. Ieš guđet sivain sii dadjet girji lei buorre ja čálli lei čeahppi, muhto dattege – dađe čiekŋaleabbo girjjálašvuođa árvvoštallamat gal eai lean. Dát árvvoštallan lea buorre ovdamearkan diekkár čuoččuhuss

[2022-01-28 10:58] duomdaamaendra opened #46 "this correction in MSWord removes previous correction"
<img width="1563" alt="Skjermbilde 2022-01-28 kl  11 53 39" src="https://user-images.githubusercontent.com/26539221/151535167-d5c952ca-ab30-4809-b73a-3f8073beae7a.png">

[2022-01-28 11:08] duomdaamaendra commented on #46
previous correction: boarásmuvan» ---> boarásmuvan”

then when the question marks are corrected it takes away the citation correctio
<img width="1561" alt="Skjermbilde 2022-01-28 kl  12 08 19" src="https://user-images.githubusercontent.com/26539221/151536720-076679aa-74ea-4020-a373-c4395cc177d3.png">
n

[2022-01-28 12:38] snomos commented on #44
This problem only shows its uggly face with long documents.

[2022-01-28 12:44] snomos commented on #46
Text? Have you tried running the grammar checker again after the first correction, and before correcting the second one? That is not a work-around, but a way to diagnose the source of the error 😄

[2022-01-28 14:43] duomdaamaendra commented on #46
Lohkama hálu sáhttá vuosttas lohkki, namalassii árvvoštalli, čáskadit boahttevaš lohkkis jos ii máhte árvvoštallat. Dát mearkkaša ahte árvvoštalli ii ane muittus ahte árvvoštallamii, seammá go girjái maid lea árvvoštallamin, sáhttá bidjat muhtin dihto gáibádusaid. Dát dihto gáibádusat de livčče muhtinlágán vuodjinnjuolggadusat maid mielde árvvoštallá.
Oaivilat gal leat eanaš girjjálašvuođa árvvošt

[2022-01-28 14:44] duomdaamaendra commented on #46
@lynnda-hill   she also wants to know what happens

[2022-01-28 14:45] duomdaamaendra commented on #45
@lynnda-hill

[2022-01-28 14:46] duomdaamaendra commented on #44
huh?  ughµ face? @lynnda-hill

[2022-01-28 14:51] duomdaamaendra commented on #46
now I tried running gramchk again - with same result

[2022-01-28 14:55] duomdaamaendra commented on #42
@lynnda-hill

[2022-01-28 14:57] duomdaamaendra commented on #41
@lynnda-hill

[2022-01-28 14:57] duomdaamaendra commented on #40
@lynnda-hill

[2022-01-28 14:58] duomdaamaendra commented on #39
@lynnda-hill

[2022-01-28 15:16] duomdaamaendra opened #47 "MSword gramchk doesn't correct citation marks when after punctuation"
Jos dal vel Sámis leat sullasaš dilit go davviriikkain muđuid, de fuobmá árvvoštallamiin goit ovtta erenoamáš ášši mii earuha sámi árvvoštallamiid omd. dáža árvvoštallamiin. Girječálli birra, ja su ođđa girji ovddeš bargguiguin veardádallon, gávnnat hárve sámi árvvoštallamiin. Čiekŋaleabbo dieđu go ahte gos čálli lea riegádan ja gos ássá, gávnnat hárve. Oalle dábálaš lea dákkár diehtu lohkkái: «Mu

[2022-01-28 15:21] duomdaamaendra commented on #47
in Googledocs it at least gets marked:
<img width="1465" alt="Skjermbilde 2022-01-28 kl  16 20 55" src="https://user-images.githubusercontent.com/26539221/151573203-8c9c737b-5acc-4685-8e33-bd1a3a2e7f63.png">

[2022-01-28 15:35] duomdaamaendra commented on #46
in Googledocs the en result is this:

Paltto (s. 37) ”mánát sturrot/mun ieš boarásmuvan” ???

that is: it corrects the citation mark, but not the space after it (even though it marks it). Instead it adds an extra question mark!!

[2022-01-31 04:49] duomdaamaendra opened #48 "msword deletes whole word when I press correct-button"
<img width="1576" alt="Skjermbilde 2022-01-31 kl  05 43 51" src="https://user-images.githubusercontent.com/26539221/151740551-e6dd09b9-a920-4b74-9556-021e8c5ec9df.png">

[2022-01-31 04:54] duomdaamaendra commented on #48
(HUOM: the correction suggestion above is incorrect since the dot in "omd." is part of the word.)
But anyways; after I have ordered msword to correct (by pressing the blue) the result is the following:

<img width="1175" alt="Skjermbilde 2022-01-31 kl  05 44 28" src="https://user-images.githubusercontent.com/26539221/151740868-3555fc0a-c829-43f3-bb56-16bda2011b6f.png">

It has removed "omd" !!

[2022-01-31 04:55] duomdaamaendra commented on #48
Jos ohcala siva dasa ahte čálli birra leat uhcán dieđut, de vástádus dáidá leat nu álki go ahte nie šaddá lunddolaččat servodagasgos [116] buohkat dovddadit. Árvvoštalli duhtá dasto daid dábálaš dieđuide mat juo buohkain leat čálli birra. Dás han maiddái lea sáhka dušše ođđa girjjiin, ja otnáš čálliin. Ii árvvoštalli arvva lebbet dieđuid čálli eallimis . , jos dal vel oaivvildeš ahte leat leamaš v

[2022-01-31 05:10] duomdaamaendra opened #49 "msword (wrongly) suggest space, then after correction suggests no space in same place"
<img width="1588" alt="Skjermbilde 2022-01-31 kl  06 08 09" src="https://user-images.githubusercontent.com/26539221/151742060-14d1831b-84f6-4a82-8427-e7e33ca02dbe.png">

after correction to space:

<img width="1588" alt="Skjermbilde 2022-01-31 kl  06 08 35" src="https://user-images.githubusercontent.com/26539221/151742068-83b4b83d-df6a-4fd9-9bcc-06afb7e6d7db.png">

[2022-01-31 05:12] duomdaamaendra commented on #49
Ahte čálli ovddit bargguid lea miellagiddevaš ja dehálaš veardidit ođđa girjjiin ii dárbbaš eahpidit. Girjjálašvuođa árvvoštalli han galggašii fuobmát ja diehtit, buorebut go okta ge eará, mo lea omd. girječálli ovdáneapmi ovddeš čállosiid ektui. Leat go čálli ođđa barggus ovddeš temát eambbo ja čiekŋaleappot meannuduvvon omd.? Dát dieđut ge leat dehálaččat boahttevaš girjelohkkái. Dáža girjjálašv

[2022-01-31 05:20] duomdaamaendra commented on #49
Googledocs handles it a little bit differently. Here the result is "omd. ??", ie it puts in a space like requested + an extra question mark! Like MSword it also now says that there shouldn't be any space, but there is no green frame to go through with the correction:

<img width="441" alt="Skjermbilde 2022-01-31 kl  06 20 40" src="https://user-images.githubusercontent.com/26539221/151742826-acf484

[2022-01-31 05:23] duomdaamaendra commented on #48
Exactly the same happens in Googledocs

[2022-01-31 14:22] duomdaamaendra commented on #49
here is somewhat the same behavior in Googledocs, difference is that it is about the word "leat" an that it is about kongruens:

<img width="1431" alt="Skjermbilde 2022-01-31 kl  15 13 55" src="https://user-images.githubusercontent.com/26539221/151809552-e4b7fd92-4f2e-45a9-aa09-df442783e409.png">

And then it goes on and says the same over and over again and you can add as many "t"s as you want, i

[2022-01-31 14:23] duomdaamaendra commented on #49
Loahpaheapmi
Ii dáidde leat vuos odne, go ain leat hárjehallamin, riekta gáibidit sámi girjjálašvuođa árvvoštalliin seammá go maid lunddolaččat dagašii davviriikkain muđuid mii guoská girjjálašvuođa árvvoštallamiid dássái. Mii fertet dohkkehit ahte dásage dárbbaša [124] oahpu, erenoamážit maiddái teorehtalaš oahpu. Buot surggiin ja dásiin Sámi servodagas rahčet odne garrasit ahte loktet máhtolašvu

[2022-01-31 14:33] duomdaamaendra commented on #47
In this text MSWord and Google docs don't even see the wrong citation marks on the right side:

”Paltto (s. 34) ”lean jápmán logiid gerddiid/…/muhto daid beivviid maŋŋá/mun lean nubbi»
B. Moske (s. 25) ”Mun in jáme/mu luondu dušše rievdá»
Paltto (s. 37) ”mánát sturrot/mun ieš boarásmuvan??
B. Moske (s. 39) ”Nu jođánit moai rávásmuvaime” … (s. 47) /Rumaš goldná dađistaga»
Paltto (s. 68) ”Lása guora

[2022-01-31 14:36] duomdaamaendra commented on #47
hmmm:

"<rievdá>"
        "rievdat" <mv> V <TH-Nom-Any> <rasta> <SO-luhtte-Ani> <DE-sisa-Build> <DE-lusa-Ani> <RF-Loc-Any> <PT-Gen-Plc><DE-Ill-Any> <PT-Gen-Plc> <PT-rastá-Plc> <PT-meaddel-Plc> <PT-čađa-Plc> <PT-bokte-Plc> <SO-Loc-*Ani><DE-Ill-*Ani> <SO-Loc-*Ani> <CO-mielde-Ani> <PR-Nom-Any> <PR-Ess-Any> <PR-Ill-Any> <LO-luhtte-Any> <LO-Loc-Plc> IV Ind Prs Sg3 <W:0.0> SUBSTITUTE:3141 SUBSTITUTE:317

[2022-02-02 13:11] lynnda-hill commented on #49
This one should be fixed now. I added to a set where period and another punctuation mark is ok without a space. Not sure how that looks like in GoogleDocs

[2022-02-02 13:12] lynnda-hill commented on #49
This one is weird. When testing in the terminal no error is marked.

[2022-02-02 13:16] lynnda-hill commented on #47
In the terminal this is fixed:

"<ohcamin>"
        "ohcat" <mv> V <TH-Inf> TV Actio Ess <W:0.0> SUBSTITUTE:2958 @-FMAINV MAP:16719:r415 #12->12 SUBSTITUTE:3987:SubV=mv
;       "ohcan" N Sem/Act Ess <W:0.0> REMOVE:6663:r1035
;       "ohcat" Ex/V TV Der/NomAct N Ess <W:0.0> REMOVE:6663:r1035
"<ge>"
        "ge" Pcle <W:0.0> @PCLE MAP:22087:r16 #13->13
"<.>"
        "." CLB <W:0.0> &LINK &punct-aist

[2022-02-02 13:28] lynnda-hill commented on #47
This should be fixed now. The reason was that that it receives the <LastCohortOfParagraph> tag, which the rules had not paid attention to previously.

[2022-02-02 13:35] lynnda-hill commented on #46
looks like this is fixed now after I put a modification to the rule

[2022-02-02 13:42] lynnda-hill commented on #45
"<girjjálašvuođadiehtta>"
        "girji" Ex/N Sem/Txt Der/lasj Ex/A Der/vuota N Cmp/SgGen Cmp <W:0.0> #21->21
        "girji" Ex/N Sem/Txt Der/lasj Ex/A Ex/Attr Der/vuota N Cmp/SgGen Cmp <W:0.0> #21->21
        "girjjálaš" Ex/A Der/vuota N Cmp/SgGen Cmp <W:0.0> #21->21
        "girjjálašvuohta" N Sem/Txt Cmp/SgGen Cmp <W:0.0> #21->21
"<gis>"
        "gis" Pcle <W:0.0> @PCLE MAP:22087:r16 &typo #2

[2022-02-02 13:53] lynnda-hill commented on #42
everything fine in the terminal...

[2022-02-02 13:57] lynnda-hill commented on #41
in the terminal the following is suggested:

"<imprešonisttalaš>"
        "impresjonista" Ex/N Sem/Hum Der/lasj A Attr <W:67.3018> <WA:27.3018> <spelled> "impresjonisttalaš"S PROTECT:3480 SELECT:3636:SoriaMoria SELECT:1281 &SUGGESTWF &typo #11->11 ADD:10058:spelled
typo
;       "impresjonista" Ex/N Sem/Hum Der/lasj A Sg Nom <W:67.3018> <WA:27.3018> <spelled> "impresjonisttalaš"S PROTECT:3480 SELEC

[2022-02-08 13:55] #49 closed

[2022-02-08 13:58] duomdaamaendra commented on #48
fixed in newest version

[2022-02-08 13:58] #48 closed

[2022-02-08 17:49] duomdaamaendra commented on #47
THIS PROBLEM REMAINS

[2022-02-08 17:57] duomdaamaendra commented on #46
Should not the double question mark be allowed? In new version MSWord now wants space between those. Then, when running grammar checker again it marks the question marks and says that there is a space error:

<img width="341" alt="Skjermbilde 2022-02-08 kl  18 56 27" src="https://user-images.githubusercontent.com/26539221/153047254-65564a72-a9b5-4e65-a822-2656e835b3cf.png">

[2022-02-08 18:04] duomdaamaendra opened #50 "MSWord moves word to upper line when correction space error"
B. Moske (s.25) «Mun in jáme/mu luondu dušše rievdá»
Paltto (s.37) «mánát sturrot/mun ieš boarásmuvan» ??
B.Moske (s.39) «Nu jođánit moai rávásmuvaime» … (s.47) /Rumaš goldná dađistaga»

This happens when correcting "B.Moske" to "B. Moske":

<img width="1581" alt="Skjermbilde 2022-02-08 kl  19 00 29" src="https://user-images.githubusercontent.com/26539221/153048415-e355e3fa-56c7-4bd9-97b8-b92676ca

[2022-02-08 18:12] duomdaamaendra commented on #46
Googledocs does not say a thing about these question marks, nothing about the space before.

[2022-02-08 18:25] duomdaamaendra commented on #42
functions in new version

[2022-02-08 18:25] #42 closed

[2022-02-23 16:52] trondtynnol opened #51 "make clean deletes checked-in file"
When running ```make clean``` in [lang-sme/tools/hyphenators,](https://github.com/giellalt/lang-sme/tree/main/tools/hyphenators) the file "[version.txt](https://github.com/giellalt/lang-sme/blob/main/tools/hyphenators/version.txt)" is deleted. It should not be, as it is a checked-in file, not a generated one.
I believe line 276 in [giella-core/am-shared/tools-hyphenators-dir-include.am](https://gi

[2022-02-24 09:40] #51 closed

[2022-03-10 13:43] unhammer commented on #45
[code]

[2022-03-10 14:38] unhammer commented on #40
[code]
Det ser rett ut i back-enden – blir det framleis feil i gdocs etc?

[2022-03-10 14:51] unhammer opened #52 "tokeniser-gramcheck-gt-desc.pmhfst is 211M"
- In April 2020 it was 106M
- In September 2018 it was 39M

Where did we go wrong?

[2022-03-10 20:48] snomos commented on #52
@flammie did look into memory consumption for pmhfst files a while ago. Maybe he has some ideas.

[2022-03-11 05:50] flammie commented on #52
Mm, there are some things that legit multiplied the automaton size, eg.  upcase in https://github.com/giellalt/lang-sme/commit/5e0bdaff32ae9292d73a580030a4627f789526fc. There aren't too many other commits in the history, but many are filling up alphabet and alphabet size can easily be a multiplier in tokeniser size, I was hoping list arcs fix it a bit but it wasn't too effective. I think there mig

[2022-03-11 06:43] snomos commented on #40
Dette er same feil som https://github.com/divvun/divvun-gramcheck-web/issues/26, jamfør:

[code]

Dvs at feilen ikkje er spesifikk for nordsamisk. Eg avsluttar denne saka, vidare diskusjon i https://github.com/divvun/divvun-gramcheck-web/issues/26.

[2022-03-11 06:43] #40 closed

[2022-03-15 18:58] snomos opened #53 "`hiluid háluid` med feilanalyse i grammatikkontrollen"
@duomdaamaendra meldte denne feilen i Zulip:

[code]

Denne analysen er rett. Det er derimot ikkje denne:

[code]

Problemet er den ekstra analysen:

[code]

Her er dei relevante lexc-oppføringane:

[code]

Korleis kjem feilanalysen inn i grammatikkontrollanalysatoren?

[2022-03-28 02:46] snomos commented on #37
Dvs. `Use/-Spell`-tagga ord. Med tanke på det vi sa på møtet om denne taggen førre veka, så kanskje ikkje vi skal fjerna dei frå grammatikkontrollanalysatoren ?

Når det gjeld `§51` så er den rette taggen kanskje `Err/Orth`, eg meiner det skal vera mellomrom der.

Kva seier de, @lynnda-hill og @duomdaamaendra ?

[2022-03-28 09:28] duomdaamaendra commented on #37
Nej, use/-spell kan vel inte fjernes...

28. mar. 2022 kl. 04:47 skrev Sjur N Moshagen ***@***.******@***.***>>:

Og alle slike blir fjerna frå gramsjekk-analysatoren.

Dvs. Use/-Spell-tagga ord. Med tanke på det vi sa på møtet om denne taggen førre veka, så kanskje ikkje vi skal fjerna dei frå grammatikkontrollanalysatoren ?

Når det gjeld §51 så er den rette taggen kanskje Err/Orth, eg meiner de

[2022-03-28 09:33] snomos commented on #37
Kommentar frå @leneantonsen (i Zulip), limt inn her for å få han inn i diskusjonen på GitHub:

[2022-03-28 09:38] snomos commented on #37
Slik det er no er det eit problem at alle `Use/-Spell`-ord blir fjerna frå analysatoren i grammatikkontrollen. Så du er samd, og meiner at dei ikkje bør bli det, at dei bør vera ein del av analysatoren i grammatikkontrollen?

Vi hadde eit møte om m.a. `Use/-Spell` førre veka, og Lene går gjennom bruken av han i nordsamisk no, Inga gjer det same med lulesamisk. Det er uavhengig av diskusjonen her,

[2022-03-28 09:43] duomdaamaendra commented on #37
Ja, de bør vare ein del av analysatorn

28. mar. 2022 kl. 11:38 skrev Sjur N Moshagen ***@***.******@***.***>>:

Nej, use/-spell kan vel inte fjernes...

Slik det er no er det eit problem at alle Use/-Spell-ord blir fjerna frå analysatoren i grammatikkontrollen. Så du er samd, og meiner at dei ikkje bør bli det, at dei bør vera ein del av analysatoren i grammatikkontrollen?

Vi hadde eit møte om m

[2022-03-28 09:44] snomos commented on #37
👍

[2022-06-24 12:18] snomos commented on #37
Det skal vera mellomrom, jf 1.12.5 i Čállinrávagirji (t.d. [her](http://sh.pedit.no/web/NettskoleRessurs.axd?id=d451b20e-fb85-4cc7-b68b-b581b230fba6)). Men aller helst bør det skrivast `51. §` på samisk, i fylgje den same teksten.

[2022-08-22 13:51] lynnda-hill opened #54 "MWE warnings where there are no MWEs"
When analyzing a sentence in tools/grammarcheckers I get strange warnings that weren't there before the summer:

divvun-suggest: WARNING: Broken MWE wordform in analyses: biire
"biire" N <NomGenSg> Err/Orth Sem/Org Sg Acc <W:0.0> "<biire>" <cohort-with-dynamic-compound> <cohort-with-dynamic-compound> ADD:2156 ADD:2156 <doubleSpaceBefore> @OBJ> SUBSTITUT:divvun-suggest: WARNING: Broken MWE wordform

[2022-08-22 13:52] lynnda-hill opened #55 "a compound is split into two cohorts without any reason"
look at the last word:

[code]

[2022-08-23 09:23] lynnda-hill opened #56 "fst kicks out negation verb reading in favor of a Roman number reading"
When running the following command, something strange happens with the analysis of the negation verb. What is wrong here?

echo 'Ii leat nu ahte sii geat heitet joatkkaskuvllas eai leat ekonomalaččat aktiivvat. ' | hfst-tokenise -g tools/tokenisers/tokeniser-disamb-gt-desc.pmhfst | divvun-blanktag tools/grammarcheckers/analyser-gt-whitespace.hfst | vislcg3 -g tools/grammarcheckers/mwe-dis.bin | vi

[2022-08-24 13:41] albbas commented on #56
Works on my machine (Mac, up to date lang-sme, giella-core, shared-smi and shared-mul)
[code]

[2022-10-11 19:19] snomos commented on #8
It seems legacy product codes have been added to relevant repositories (at least some), but the documentation seems still to be missing. Or I am missing something (probably more likely…).

[2022-10-11 20:33] snomos commented on #31
Status today:

- [ ] `echo "leat mánáidgirjjit, divttat, aviisačállosat jna..." | modes/trace-smegramrelease.mode`:

[code]

- [x] `echo "Materiála čohken ja girjji čállin Davvi Girji o.s.." | divvun-checker -a se.zcheck | jq .`:

[code]

- [ ] `echo "sis váilo ákkat áššáskuhttit su..." | modes/trace-smegramrelease.mode`:
[code]

Ie one out of three fixed.

[2022-10-13 12:21] lynnda-hill commented on #54
try echo "Dát miellahtut oaivvildeaba ahte boazodoallošiehtadus galgá láhččit saji eanet ovttasbargui boazodoalu ja eará meahccegeavaheddjiid gaskka." | tools/grammarcheckers/modes/trace-smegramrelease-dev.mode | less

[2022-10-13 12:26] lynnda-hill commented on #56
It looks good to me too now, so I'll close the bug

[2022-10-13 12:26] #56 closed

[2022-10-13 12:29] lynnda-hill commented on #53
modes/trace-smegramrelease-dev.mode gir meg følgende:

"<hiluid háluid>"
        "hiluid háluid" Adv <W:0.0> <firstCohort> #1->1 SUBSTITUTE:10263
;       "hiluid háluid" Err/Orth Adv Err/SpaceCmp <W:0.0> <firstCohort> REMOVE:2314:mwe
"<.>"

[2022-10-13 12:42] lynnda-hill commented on #50
When fixing ?? to ? ? a new suggestions appear, ?B. can be fixed to ? B. However, there is a new line after ? which the program seems to ignore.

[2022-10-13 12:58] lynnda-hill commented on #47
We need to add <LastCohortOfParagraph> for lineshift

[2022-10-14 00:51] flammie commented on #54
I cannot reproduce this but the error should only print for when there is a `"<surface>"` in the analysis section of cg tags... it would appear on *meahccegeavaheddjiid* but my version of pipeline does not produce the "<surface>" tags even though it seems ambiguous:
[code]

[2022-10-14 00:55] #54 closed

[2022-10-14 16:25] snomos commented on #53
Fixed in 70ae371706d1488ece4d44ea9b731515a973a76b.

[2022-10-14 16:25] #53 closed

[2022-10-14 16:38] snomos commented on #55
Her er det eg får:

[code]
[code]

ogso denne analysen, som er den same som Linda får:

[code]

[2022-10-15 00:17] flammie commented on #55
Slik ser det ut for mä:

[code]
er det den som den ska vare? Versjoner:
[code]
men libdivvun fra dagens git head.

[2022-10-15 06:13] snomos commented on #55
Det ser rett ut for meg 👍

[2022-10-21 12:51] lynnda-hill opened #57 "Gramcheck: duála vearba plurála +human subjeavttain - galgágo divvojuvvot?"
Dát miellahtut oaivvildeaba ahte boazodoallošiehtadus galgá láhččit saji eanet ovttasbargui boazodoalu ja eará meahccegeavaheddjiid gaskka.

0. sáhtášiigo "Dát miellahtut oaivvildeaba" leat riekta eará konteavsttas?
1. ooaivvildeaba>oaivvildit??
2. mo ferte leat subjeakta nu ahte "oaivvildeaba" šaddá riekta?
3. mo lea eará suopmániin?
4. mo galgá leat norbma?
5. leat jearan earáin?

[2022-10-21 12:56] lynnda-hill opened #58 "Gramcheck: sáhttágo leat plurála relatiivapronomenen vaikko substantiiva lea singuláras (oassi)"
Oassi geat ožžot barggu lea stuorit davvin go lulde.

    0. sáhtášiigo "Oassi geat ožžot " leat riekta eará konteavsttas?
    1. geat>gii??
    2.  mo galgá leat norbma?
    3. leat jearan earáin?

[2022-10-21 12:59] lynnda-hill opened #59 "Gramcheck: koordinerejuvvon singulára substantiivvat + Sg3 vearba"
Gierdevašvuohta ja gillilvuohta sáhttá leat du čoavddasánit jus áiggot ovdánit dán váhku.

0. sáhtášiigo "Gierdevašvuohta ja gillilvuohta sáhttet" leat riekta?
1. sáhttá>sáhttet??
2. makkár substantiivvaiguin šaddá riekta/boasttut?
3. mo lea eará suopmániin?
4. mo galgá leat norbma?
5. leat jearan earáin?

[2022-10-26 08:35] maretlaila commented on #57
Lean jearran 11 olbmos geain lea sámegiella eatnigiellan. 9 olbmo lohke ahte human subjeakta ii sáhte leahkit plurála hámis,jus vearba lea duála hámis. Guokte olbmo lohke ahte human subjeakta sáhttá leahkit plurála hámis, vaikko vel vearbage lea dualas. Dát guovtii olbmos lea alla fágalaš gelbbolašvuohta. Nu ahte dás ii leat čielga vástádus, menddo ambivaleanta boađus ráhkadit njuolggadusa dies.

[2022-10-26 08:36] maretlaila commented on #57
Mearrádus lea ahte dien ii galgga divvut.

[2022-10-28 17:12] snomos commented on #55
Hm, eg får framleis feil resultat, med nyaste nightly frå Tino, og nyaste koden av alt frå GiellaLT:

[code]

[2022-10-28 18:20] flammie commented on #55
[code]
Altså ä får den andra (rett?) resultat med denne kombinasjon av versjoner.

[2022-10-28 18:29] snomos commented on #55
Her er versjonane mine:

[code]

[2022-11-01 10:08] albbas opened #60 "divvun-checker concatenates potential compound words"
Denne feilen er først rapportert på: divvun/libdivvun#56

[code]
Dette skjer et eller annet sted i smegram-pipelinen.

[2022-11-03 19:43] snomos commented on #60
Dette burde tilsvara kommandoen din, men gjev eit heilt anna resultat:

[code]

[2022-11-03 19:45] snomos commented on #60
Med identisk kommando får eg same feil:

[code]

[2022-11-03 19:47] snomos commented on #60
@unhammer eller @flammie ser de kva som går feil her?

[2022-11-04 11:05] snomos commented on #1
Using the same configuration I am not able to reproduce. I thus close this one.

[2022-11-04 11:05] #1 closed

[2022-11-04 11:06] snomos commented on #3
This has been fixed a long time ago, Forrest is not built by default, and all documentation is now converted to Markdown, and rendered using GitHub Pages. Forrest be gone!

[2022-11-04 11:06] #3 closed

[2022-11-07 17:55] unhammer commented on #60
før
`$ echo skuvla busse|divvun-checker -l se
{"errs":[],"text":"skuvlabusse"}
`
etter:
`
$ echo skuvla busse|divvun-checker -l se
{"errs":[],"text":"skuvla busse"}
`
ser sånn ut :)

[2022-11-15 10:38] albbas commented on #60
Ja :)

[2022-11-29 11:47] lynnda-hill opened #61 "biddjojuvvot vs. bidjojuvvot - should both be in the lexicon?"
Leatgo goappašagat riekta? ovttain ja guvttiin d-ain? Mii lea erohus?

biddjojuvvot
biddjojuvvot    bidjat+V+TV+Der/PassL+V+IV+Inf    0,000000
biddjojuvvot    bidjat+V+TV+Der/PassL+V+IV+Ind+Prs+Pl1    0,000000
biddjojuvvot    bidjat+V+TV+Der/PassL+V+IV+Ind+Prs+Sg2    0,000000

bidjojuvvot
bidjojuvvot    bidjat+V+TV+Der/PassS+V+IV+Der/d+V+Imprt+ConNeg    0,000000
bidjojuvvot    bidjat+V+TV+Der/Pass

[2022-11-29 14:19] albbas commented on #61
Divvujuvvon dáinna committain: 6c8bc62b550275f65a104dfeb87fb75ec5729712